/*!
 * Generated with CSS Flag Sprite generator (https://www.flag-sprites.com/)
 */

.flag {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url('../images/flags.png') no-repeat;
}


.flag.flag-ua {
    background-position: -32px 0;
}

.flag.flag-ru {
    background-position: 0 0;
}
