.content{padding:10px}.new_title p{text-align:center;padding:15px 0;font-family:"Rubik",sans-serif;font-size:20px;color:#222325;font-weight:bolder}.new_image{text-align:center}.new_image img{max-width:100%}.new_body{word-break:break-word;padding:15px 10px 25px 10px;font-family:"Rubik",sans-serif !important}.new_body img{max-width:100% !important;height:auto !important}
