@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

$orange: #ff6501;
$blue: #0c6eb5;
$blueD: #0c588f;
$textColor: #222325;
@import url('https://fonts.googleapis.com/css?family=Rubik');
$rubik: 'Rubik', sans-serif;

@mixin transition($obj, $duration, $type:linear) {
  -webkit-transition: $obj $duration + s;
  -webkit-transition: $obj $duration+s;
  transition: $obj $duration+s;
  transition-timing-function: $type;
}

@mixin transform($string) {
  -webkit-transform: $string;
  transform: $string;
}

@mixin rubik($size, $color, $weight:normal) {
  font-family: $rubik;
  font-size: $size;
  color: $color;
  font-weight: $weight;
}

h1 > a {
  margin-right: 0;
}

input[type=checkbox] {
  outline: none;
}

.custom-check {
  display: none;
}

.custom-label-for-check {
  //padding-left: 10px;
  outline: none;
  font-family: FontAwesome;
  font-size: 0;
}

.custom-check:checked + label {
  &:before {
    content: '';
    display: inline-block;
    background-color: #222325;
    transition: all .4s;
    -webkit-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,1);
    -moz-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,1);
    box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,1);
  }
}

.custom-check + label:before {
  cursor: pointer;
  display:inline-block;
  content: '';
  width: 18px;
  height: 18px;
  border: 1px solid #222325;
  transition: all .5s;
}

.flag {
  position: absolute;
  left: 7px;
  top: 2px;
}

.message {
  z-index: 50;
  opacity: 0;
  text-align: center;
  position: absolute;
  top: 30vh;
  margin: 0 auto;
  right: 0;
  left: 0;
  width: 300px;
  color: #222325;
  font-size: 18px;
  border-radius: 2px;
  padding: 15px 10px;
  margin: 0 auto;
  span {
    font-size: 25px;
  }
}

.message-success {
  color: #00ad9c;
  background-color: rgba(0, 0, 0, 0.8);
}

.message-error {
  color: red;
  background-color: rgba(0, 0, 0, 0.8);
}

.message-warning {
  color: yellow;
  background-color: rgba(0, 0, 0, 0.8);
}

.message-info {

}

ul {
  li {
    ul {
      top: 150%;
      opacity: 0;
      padding-top: 50%;
      visibility: hidden;
      position: absolute;
      list-style: none;
      padding: 0;
      border: 1px solid #418acb;
      border-top: none;
      background-color: white;
      text-align: left;
      z-index: 99;
      width: 100%;
      li {
        a {
          text-decoration: none !important;
          p {
            font-size: 14px;
            margin: 0;
            padding: 15px 10px;
          }
          &:hover {
            p {
              @include transition(all, .4);
              color: white;
              background-color: #418acb;
            }
          }
        }
      }
    }
    &:hover > ul {
      visibility: visible;
      @include transition(all, .2);
      opacity: 1;
      top: 100%;
      padding-top: 0;
    }
  }
}

.banner {
  font-size: 0;
  //border: 4px solid blue;
  img {
    display: inline-block;
    text-align: center;
    border: 5px solid blue;
  }
}

.ms-container {
  margin: 0 auto;
  transition: all .5s;
}

.custom_link {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: bolder;
}

// NAV BLOCKS
.nav-block {
  border: 1px solid $textColor;
  border-radius: 5px;
  text-align: center;
  padding: 10px 0;
  margin: 10px 15px;
  min-height: 150px;
  position: relative;
  @include transition(all, .4);
  a {
    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      display: block;
    }
    text-decoration: none;
    i {
      @include transition(all, .4);
      padding: 10px 0;
      display: block;
      color: $textColor;
    }
    p {
      @include transition(all, .4);
      @include rubik(16px, $textColor);
      margin: 0;
    }
  }
  &:hover {
    @include transition(all, .2);
    border-color: $blue;
    a {
      &:before {
        opacity: .5;
        @include transition(all, .7);
      }
      i {
        @include transform(scale(1.03));
        @include transition(all, .4);

        color: $orange;
      }
      p {
        @include transition(all, .4);
        color: $blue;
      }
    }
  }
}

.animate-this {
  transform: rotateX(360deg) rotateY(360deg);
  transition: all .4s;
}

.confirm-message {
  text-align: center;
  padding: 20px 35px;
  top: -100%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  width: 350px;
  position: fixed;
  background: rgba(0, 0, 0, .8);
  border-radius: 5px;
  border: 1px solid black;
  margin: 0 auto;
  p {
    font-size: 16px;
    color: white;
  }
  span {
    font-size: 16px;
  }
}