$orange: #ff6501;
$blue: #0c6eb5;
$blueD: #0c588f;
$textColor: #222325;
@import url('https://fonts.googleapis.com/css?family=Rubik');
$rubik: 'Rubik', sans-serif;

@mixin transition($obj, $duration, $type:linear) {
  -webkit-transition: $obj $duration + s;
  -webkit-transition: $obj $duration+s;
  transition: $obj $duration+s;
  transition-timing-function: $type;
}

@mixin transform($string) {
  -webkit-transform: $string;
-moz-transform: $string;
-o-transform: $string;
-ms-transform: $string;
transform: $string;
}

@mixin rubik($size, $color, $weight:normal) {
  font-family: $rubik;
  font-size: $size;
  color: $color;
  font-weight: $weight;
}

    @keyframes scale {
  0%   {
   transform: scale(1.0);
  }
  50%{
    text-shadow: 5px 3px 2px rgba(150, 150, 150, 1);
    color: $blue;
   transform: scale(1.1);
  }
  100%  {
   transform: scale(1.0);
  }
}

@keyframes rotate{
  0% {
    @include transform(rotate(-15deg));
  }
  15%{
    @include transform(rotate(0deg));
  }
  30%{
    color: $orange;
    text-shadow: 3px 1px 20px rgba(150, 150, 150, 1);
    @include transform(rotate(15deg));
  }
  45%{
    @include transform(rotate(0deg));

  }
  60%{
    @include transform(rotate(0deg));

  }
  75%{
    @include transform(rotate(0deg));

  }
  90%{
    @include transform(rotate(0deg));

  }
  100%{
    @include transform(rotate(0deg));
  }
}

@keyframes back{
  0%{
    color: $blue;
  }
  50%{
    color: $orange;
  }
  100%{
    color: $blue;
  }
}

.container{
  text-align: center;
  // background: $blue;
  position: fixed;
  margin: 0 auto;
  left: 0;
  right: 0;
  // top: 50vh;
  // transform: translateY(-50%);
  .top{

    // img{
      // display:inline-block;
      // vertical-align: middle;
      // width: 28vh;
    // }
    font-size: 0; 
    p{
      // vertical-align: middle;
      margin: 0;
      padding: 0;
      font-size: 40vh;
      display: inline-block;
      &:first-child{
        animation: scale 1.2s infinite linear;
      }
      &:last-child{
        animation: rotate .7s infinite linear;
      }

    }
     span{
      margin: 0;
      padding: 0;
      font-size: 25vh;
      color: $blue;
    }
  }
  .page-not-found{
    font-size: 5vh;
  }
  a{
    text-decoration: none;
    .back-to-home{
      font-size: 3vh;
      color: $textColor;
      animation: back .7s infinite linear;
    }
  }
}

@media (max-width: 767px) {
  .container {
    .page-not-found{
      font-size: 7vw;
    }
    a{
      .back-to-home{
        font-size: 7vw;
      }
    }
    .top{
      p, span{
        font-size: 30vw;
      }
    }
  }
}