$orange: #ff6501;
$blue: #0c6eb5;
$blueD: #0c588f;
$rubik: 'Rubik', sans-serif;
$textColor: #222325;
@mixin transition($obj, $duration) {
  -webkit-transition: $obj $duration + s;
  -webkit-transition: $obj $duration+s;
  transition: $obj $duration+s;
}

@mixin transform($string) {
  -webkit-transform: $string;
  transform: $string;
}

@mixin rubik($size, $color, $weight:normal) {
  font-family: $rubik;
  font-size: $size;
  color: $color;
  font-weight: $weight;
}

.content {
  margin: 30px auto;
  .item-wrapper {
    user-select: none;
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
    border: 1px solid #bdbdbd;
    background-color: white;
    position: relative;
    .drop-from-cart {
      @include transition(all, .2);
      position: absolute;
      right: 10px;
      top: 10px;
      color: #db0c1c;
      font-size: 18px;
      z-index: 2;
      &:hover {
        cursor: pointer;
        @include transform(scale(1.2));
        @include transition(all, .2);
      }
    }

    .item-picture {
      padding: 0;
      line-height: 225px;
      text-align: center;
      img {
        width: auto;
        height: auto;
      }
    }

    .item-name {
      a {
        text-decoration: none;
        p {
          @include rubik(17px, $blue, bolder);
          border-bottom: 1px solid #bdbdbd;
          padding: 10px 0;
          @include transition(all, .4);
          &:hover {
            color: $orange;
            @include transition(all, .4);
          }
        }
      }
    }

    .item-count, .item-price {
      margin-top: 10px;
    }

    .item-count {
      i {
        padding: 0 10px;
        font-size: 18px;
        color: black;
        @include transform(scale(1));
        @include transition(all, .3);
        &:hover {
          @include transform(scale(1.2));
          @include transition(all, .3);
          cursor: pointer;
        }
      }
      input {
        height: 40px;
        @include rubik(18px, #222325);
        text-align: center;
        width: 60px;
      }
    }

    .item-price {
      text-align: right;
      p {
        @include rubik(25px, $orange);
        span {
          font-size: 18px;
          color: #222325;
        }
      }
    }
    /* end item-wrapper*/
  }

  .head {
    text-align: center;
    p {
      margin: 0 -15px;
      height: 50px;
      padding: 14px 25px;
      background-color: $blue;
      @include rubik(16px, white);
      @include transition(all, .3);
      &:hover {
        cursor: pointer;
        background-color: $blueD;
        @include transition(all, .3);
      }
    }
    .active {
      p {
        background-color: $blueD;
      }
    }
  }

  .tab-body {
    text-align: center;
    padding-bottom: 15px;
    background-color: white;
    .title {
      @include rubik(20px, #222325);
      text-align: center;
    }

    input[type="text"], input[type="tel"], input[type="email"] {
      outline: none;
      width: 90%;
      display: block;
      margin: 15px auto;
      border: 1px solid #bdbdbd;
      height: 40px;
      @include rubik(16px, #222325);
      padding: 10px 15px;
      &::-webkit-input-placeholder {
        color: #4f5051;
      }
      &::-moz-placeholder {
        color: #4f5051;
      }
      &:-ms-input-placeholder {
        color: #4f5051;
      }
      &::placeholder {
        color: #4f5051;
      }
    }
    .required {
      background: url("/images/required-input.png") 99% 10% no-repeat;
    }

    input[type="radio"] {
      display: none;
      &:checked + label {
        &:before {
          @include transition(all, .5);
          background-color: $blue;
          box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 1);
        }
      }
    }
    label {
      text-align: left;
      position: relative;
      margin: 10px 23px;
      padding-left: 23px;
      display: block;
      &:hover {
        cursor: pointer;
      }
      &:before {
        @include transition(all, .5);
        left: 0;
        bottom: 4px;
        position: absolute;
        content: '';
        width: 14px;
        height: 14px;
        border: 1px solid #bdbdbd;
      }
    }
    textarea {
      resize: none;
      outline: none;
      border: 1px solid #bdbdbd;
      @include rubik(16px, #222325);
      width: 90%;
      height: 150px;
      display: block;
      margin: 15px auto;
      padding: 10px 15px;
    }

    .make-order {
      @include rubik(16px, white);
      background-color: $orange;
      text-transform: uppercase;
      border: none;
      outline: none;
      display: inline-block;
      height: 40px;
      padding: 10px 30px;
      @include transition(all, .4);
      &:hover {
        background: $blue;
        @include transition(all, .4);
      }
    }

    .back-to-shop {
      display: block;
      border: none;
      text-decoration: underline;
      p {
        @include rubik(14px, #4f5051);
      }
    }

    /* end-tab-body*/
  }

  .total-cost {
    padding: 10px 15px;
    margin: 15px -15px;
    background-color: white;
    text-align: left;
    p {
      @include rubik(18px, #222325, bolder);
      span {
        float: right;
      }
    }
  }

  .back-to-shop {
    height: 35px;
    padding: 8px 15px;
    margin: 0 -15px;
    display: inline-block;
    @include rubik(14px, #5f5f5f);
    border: 1px solid #5f5f5f;
  }
  /*end content*/
}

@media(min-width: 768px) and (max-width: 991px) {
  .content{
    .item-wrapper{
      .item-picture{
        img{
          width: 100%;
        }
      }
      .item-count, .item-price{
        padding-top: 0;
      }  
    }
  } 

  .content {
    .item-wrapper {
      padding-bottom: 10px;

      .item-name {
        p {
          font-size: 15px;
          height: 100px;
        }
      }

      .item-count {
        padding: 0 0 0 10px;
        i {
          padding: 0 5px;
        }
        input {
          height: 24px;
          width: 40px;
        }
      }
      .item-price {
        p {
          font-size: 18px;
        }
      }
      .total-cost {
        p {
          font-size: 16px;
        }
      }
      .back-to-shop {
        width: 110%;
        text-align: center;
      }

    }
  }

  // end media
}

@media(min-width: 992px) and (max-width: 1199px) {
  .content {

    .item-wrapper {
      // padding-bottom: 15px;
      
      .item-picture{
        
        line-height: 170px;

        img{
          width: 100%;
        }
      
      }
    }

    .head {
      text-align: center;
      p {
        padding: 14px 10px;
      }
    }
  }

  // end media
}

@media (max-width: 767px) {
  .content {
    .show-items-in-basket {
      position: relative;
      background-color: $blue;
      height: 50px;
      padding: 15px 30px;
      @include rubik(15px, white);
      text-align: center;
      span {
        right: 10px;
        font-size: 18px;
        top: 15px;
        position: absolute;
        @include transform(rotate(0deg));
        @include transition(all, .5);
      }
      .rotate-angle {
        @include transform(rotate(90deg));
        @include transition(all, .5);
      }
    }
    .item-wrapper {
      margin: 10px 0;
      padding-bottom: 10px;
      .item-picture{
        img{
          width: 100%;
        }
      }
      .item-name {
        p {
          font-size: 15px;
          height: 100px;
        }
      }

      .item-count {
        padding: 0 0 0 10px;
        i {
          padding: 0 5px;
        }
        input {
          height: 24px;
          width: 40px;
        }
      }
      .item-price {
        p {
          font-size: 18px;
        }
      }
    }

    .item-wrapper-show {
      display: block !important;
    }

    .total-cost {
      margin: 15px 0;
    }

    .back-to-shop {
      text-align: center;
      width: 100%;
      margin: 0 0 15px 0;
    }
    .tab-body {
      margin-top: 10px;
      padding-top: 15px;
    }
    // end content
  }

  // end media
}

.empty-cart {
  p {
    @include rubik(24px, $textColor, bolder);
    text-align: center;
  }
}
