$orange: #ff6501;
$blue: #0c6eb5;
$blueD: #0c588f;
$rubik: 'Rubik', sans-serif;
$textColor: #222325;

@mixin transition($obj, $duration) {
  -webkit-transition: $obj $duration + s;
  -webkit-transition: $obj $duration+s;
  transition: $obj $duration+s;
}

@mixin transform($string) {
  -webkit-transform: $string;
  transform: $string;
}

@mixin rubik($size, $color, $weight:normal) {
  font-family: $rubik;
  font-size: $size;
  color: $color;
  font-weight: $weight;
}

.content {
  margin-top: 15px;
}

.left-side {
  padding: 0 5px;
  background-color: white;
  .show-filters {
    position: relative;
    display: block;
    background-color: $blue;
    color: white;
    font-size: 15px;
    height: 50px;
    padding: 0 15px;
    line-height: 3.2;
    span {
      @include transform(rotate(0deg));
      @include transition(all, .5);
      position: absolute;
      right: 10px;
      top: 15px;
      font-size: 18px;
    }
    .rotate-angle {
      @include transform(rotate(90deg));
      @include transition(all, .5);
    }
  }

  .count-finded-items {
    border: 1px solid #bdbdbd;
    p {
      padding: 10px;
      text-align: center;
      color: #4f5051;
      font-size: 16px;
      font-family: $rubik;
      span {
        color: $blue;
      }
    }
  }
  .search-filters {
    .reset-search-filters {
      p {
        text-align: center;
        @include rubik(14px, $blue);
        text-decoration: underline;
        &:hover {
          cursor: pointer;
        }
      }
    }

    .search-filter-item {
      margin: 10px -15px;
      padding: 3px 0;
      i {
        color: red;
        font-size: 16px;
        @include transform(scale(1));
        @include transition(all, .3);
        &:hover {
          cursor: pointer;
          @include transform(scale(1.1));
          @include transition(all, .3);
        }
      }
      p {
        display: inline-block;
        @include rubik(16px, #4f5051);
        span {
          color: #222325;
        }
      }
    }
  }

  .filter-wrapper {
    padding: 5px 0;
    .filter-name {
      padding: 5px 10px;
      position: relative;
      background-color: $blue;
      @include rubik(15px, white, bolder);
      span {
        right: 15px;
        top: 0;
        padding: 8px 0;
        position: absolute;
        @include transform(rotate(0deg));
        @include transition(all, .5);
      }
      .rotate-angle {
        @include transform(rotate(90deg));
        @include transition(all, .5);
      }
    }
  }
  ol {
    margin: 0 -15px;
    padding-top: 5px;
    li {
      input {
        display: none;
        &:checked + label {
          &:before {
            @include transition(all, .3);
            background-size: 95%;
          }
        }
      }
      label {
        &:hover {
          cursor: pointer;
        }
        position: relative;
        @include rubik(16px, #222325);
        &:before {
          @include transition(all, .3);
          background: url('/images/checkbox.png');
          background-size: 0;
          background-repeat: no-repeat;
          background-position: center;
          left: -20px;
          top: 4px;
          position: absolute;
          content: '';
          width: 13px;
          height: 13px;
          border: 1px solid #bdbdbd;
        }
      }
      list-style: none;
    }
  }

}

/* END LEFT SIDE*/

/* START RIGHT SIDE*/
.right-side {
  .right-side-top-nav {
    line-height: 3;
    padding-bottom: 20px;
    p {
      @include rubik(14px, #4f5051);
      display: inline-block;
    }
    .sorted {
      text-align: left;
      select {
        @include rubik(16px, #222325);
        height: 45px;
        border: 1px solid #bdbdbd;
      }
    }

    .item-on-page {
      text-align: right;
      select {
        @include rubik(16px, #222325);
        height: 45px;
        border: 1px solid #bdbdbd;
      }
    }
  }

}

/* END RIGHT SIDE*/

/* Items*/
.item-wrapper {
  text-align: center;
  background-color: white;
  font-size: 0;
  margin: 0 auto;
  width: 263px;
  box-sizing: border-box;
  height: 420px;
  border: 1px solid #d4d4d4;
  margin-bottom: 20px;
  overflow: hidden;
  @include transition(all, .6);
  position: relative;
  .item-discount {
    position: absolute;
    z-index: 5;
    left: 0;
    top: 5%;
    @include rubik(18px, white);
    padding: 5px 20px;
  }
  &:hover {
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.46);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.46);
    @include transition(all, .4);
  }
  .item-image {
    //margin: 0 -10px;
    //height: 175px;
    //line-height: 175px;
    line-height: 200px;
    height: 220px;
    img {
      display: inline-block;
      //width: 100%;
      height: auto;
    }
  }
  .item-name {
    margin: 0 10px;
    min-height: 80px;
    a {
      text-decoration: none;
      p {
        word-break: break-all;
        text-align: left;
        font-family: $rubik;
        font-size: 16px;
        color: #222325;
        @include transition(all, .5);
        &:hover {
          color: $blue;
          cursor: pointer;
          @include transition(all, .5);
        }
      }
    }
  }
  .item-code {
    padding-left: 10px;
    display: inline-block;
    width: 50%;
    height: 35px;
    p {
      font-weight: bolder;
      font-family: $rubik;
      font-size: 16px;
      text-align: left;
      color: $blue;
      span {
        font-size: 18px;
        color: #222325;
      }
    }
  }
  .item-custom-order {
    padding-right: 10px;
    display: inline-block;
    width: 50%;
    font-weight: bolder;
    font-family: $rubik;
    font-size: 14px;
    text-align: right;
    color: $blue;
  }
  .by-now {
    display: inline-block;
    width: 50%;
    padding-right: 10px;
    vertical-align: top;
    .disabled {
      color: white;
      border-color: $blue;
      background-color: $blue;
    }
    button {
      @include transition(all, .8);
      width: 100%;
      height: 35px;
      display: block;
      outline: none;
      font-family: $rubik;
      font-size: 14px;
      border: 1px solid $blue;
      background-color: white;
      text-transform: uppercase;
      color: $blue;
      &:hover {
        @include transition(all, .4);
        background-color: $blue;
        color: white;
      }
    }
    .button-in-cart {
      background: $blue;
      color: white;
    }
  }
  .price {
    padding-left: 10px;
    display: inline-block;
    vertical-align: top;
    width: 50%;
    min-height: 60px;
    text-align: left;
    color: #222325;
    font-size: 14px;
    line-height: 17px;
    p {
      @include rubik(14px, $textColor);
    }
    .old-price {
      font-size: 14px;
      font-weight: bolder;
      text-decoration: line-through;
      text-decoration-color: $orange;
    }
    .current-price {
      font-size: 18px;
      font-weight: bolder;
      //@include rubik(18px, $textColor, bolder);
      span {
        color: $orange;
      }
    }
  }
  .item-feedback {
    padding: 0 10px;
    border-top: 1px solid #d4d4d4;
    .item-stars {
      display: inline-block;
      vertical-align: top;
      width: 50%;
      font-size: 18px;
      i {
        color: $orange;
      }
      text-align: left;
    }
    .item-comments {
      display: inline-block;
      width: 50%;
      vertical-align: top;
      a {
        p {
          text-align: right;
          color: #222325;
          font-family: $rubik;
          font-size: 14px;
          &:hover {
            color: $blue;
          }
        }
      }
    }
  }
  //  end-item-wrapper
}
@media (min-width: 992px) and (max-width: 1199px) {
  .item-wrapper {
    width: 95%;
    .item-image {
      img {
        width: 100%;
      }
    }
    .item-feedback {
      .item-stars {
        font-size: 16px;
      }
    }
  }
}
@media (max-width: 767px) {

}
/* End items*/

/* MEDIA*/
@media(min-width: 992px) and (max-width: 1999px) {
  .right-side {
    .right-side-top-nav {
      .sorted, .item-on-page {
        select {
          width: auto;
          float: none;
          height: 45px !important;
        }
      }
    }
  }
  // end media
}

@media(min-width: 768px) and (max-width: 991px) {

  .left-side {
    padding: 0;
    background-color: white;
    position: relative;
    .filters-wrapper {
      box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.46);
      width: 100%;
      background-color: white;
      position: absolute;
      z-index: 2;
      padding: 5px 5px 0;
      left: 0;
      height: auto;
      overflow-y: scroll;
      overflow-x: hidden;

    }
    .jquery-show-filters {
      display: block !important;
    }

  }

  .right-side {
    .right-side-top-nav {
      p {
        padding-bottom: 6px;
        line-height: 1;
        display: block;
      }
    }
  }
  .right-side {
    .right-side-top-nav {
      .sorted, .item-on-page {
        select {
          height: 30px;
        }
      }
    }
  }

  //end media
}

@media (max-width: 767px) {
  .right-side {
    .right-side-top-nav {
      .item-on-page {
        text-align: left;
      }
      .sorted, .item-on-page {
        span {
          @include transform(rotate(0deg));
          @include transition(all, .5);
        }
        &:hover {
          p, span {
            color: $blue;
          }
          span {
            @include transform(rotate(90deg));
            @include transition(all, .5);
          }
          select {
            display: block !important;
          }
        }
      }
    }
  }

  // end media
}

.pagination {
  .angle {
    font-size: 26px;
    padding: 0;
  }
  .active {
    background-color: $blue;
    color: white;
    cursor: no-drop;
  }
  .disabled:hover {
    cursor: no-drop;
  }
  .dots {
    font-size: 20px;
    font-weight: bold;
    color: $blue;
    letter-spacing: 2px;
    padding: 0 4px;
  }
  a {
    padding: 13px 0;
    line-height: 0;
    text-decoration: none;
    display: inline-block;
    border: 1px solid $blue;
    width: 30px;
    height: 30px;
    text-align: center;
    overflow: hidden;
    @include rubik(16px, $blue);
    span {
      vertical-align: middle;
    }
    @include transition(all, .4);
    &:hover {
      @include transition(all, .4);
      background-color: $blue;
      color: white;
    }
  }
}

.show-all-products {
  outline: none;
  @include rubik(14px, $orange);
  background-color: white;
  border: 1px solid $orange;
  height: 35px;
  padding: 0 15px;
  @include transition(all, .8);
  &:hover {
    @include transition(all, .4);
    background-color: $orange;
    color: white;
  }
}

.load-items {
  &:before {
    @include transition(all, .4);
    position: fixed;
    content: "";
    //background-color: rgba(12, 110, 181, .3);
    background-color: rgba(255, 255, 255, .2);
    z-index: 5;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
  }
  &:after {
    opacity: 1;
    @include transition(all, .5);
    font: normal normal normal 14px/1 FontAwesome;
    webkit-animation: fa-spin 1s infinite linear;
    animation: fa-spin 1s infinite linear;
    content: "\f110";
    position: fixed;
    z-index: 10;
    top: 30vh;
    font-size: 10em;
    color: $blue;
    left: 0;
    display: block;
    width: 100vw;
    right: 0;
    text-align: center;
    margin: 0 auto;

    display: inline-block;
  }
}

.price-slider-wrapper {
  margin-top: 20px;
  text-align: left;
  span {
    @include rubik(16px, black, bolder);
    padding: 0 4%;
  }
  input {
    text-align: center;
    width: 30%;
    height: 30px;
    outline: none;
  }
}