$orange: #ff6501;
$blue: #0c6eb5;
$blueD: #0c588f;
$textColor: #222325;
@import url('https://fonts.googleapis.com/css?family=Rubik');
$rubik: 'Rubik', sans-serif;

@mixin transition($obj, $duration, $type:linear) {
  -webkit-transition: $obj $duration + s;
  -webkit-transition: $obj $duration+s;
  transition: $obj $duration+s;
  transition-timing-function: $type;
}

@mixin transform($string) {
  -webkit-transform: $string;
  transform: $string;
}

@mixin rubik($size, $color, $weight:normal) {
  font-family: $rubik;
  font-size: $size;
  color: $color;
  font-weight: $weight;
}

@mixin flex($justify) {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex;
  -webkit-justify-content: $justify;
  justify-content: $justify;
}

header {
  padding-top: 15px;
  background-color: white;
}

.fa-seacrh{
  cursor: pointer;
}
.search-sm-xs{
  position: absolute;
  background-color: white;
  border-radius: 2px;
  width: 90%;
  z-index: 5;
  text-align: center;
  left: 0;
  right: 0;
  top: 15vh;
  margin: 0 auto;
  padding: 10px;
  @include transition(all, .3);
  input{
    height: 30px;
    width: 100%;
    border: 1px solid $blue;
    @include rubik(14px, $textColor);
    padding: 10px;
    outline: none;
  }
}
.close{
  width: 0;
  visibility: hidden;
  overflow: hidden;
  input{
    opacity: 0;
  }
}

.breadcrumbs {
  padding: 5px 15px;
  border-bottom: 1px solid #bdbdbd;
  a {
    color: #4f5051;
    text-decoration: none;
    &:hover {
      color: $textColor;
    }
    &:after {
      content: "\f105";
    }
    &:last-child {
      &:after {
        content: '';
      }
    }
    span {
      padding: 5px;
      @include rubik(14px, #4f5051);
      &:hover {
        color: $textColor;
      }
    }
  }
}

body {
  p {
    margin: 0;
    padding: 0;
  }
  background-color: #f3f3f3;
}

.header-logotype {
  padding: 17px 5px;
  img {
    width: 100%;
    height: auto;
    @include transition(all, .4);
    &:hover {
      @include transform(scale(1.05));
      @include transition(all, .5, cubic-bezier(0.18, 0.89, 0.32, 1.28));
    }
  }
}

.header-phones-wrapper {
  padding: 0 0 0 25px;
  i {
    color: $orange;
    vertical-align: top;
    padding: 62px 5px 62px 0;
    border-right: 1px solid #bdbdbd;
  }

  .header-phones {
    text-align: center;
    display: inline-block;
    letter-spacing: 0.05em;
    p {
      span {
        color: $orange;
      }
      @include rubik(17px, $textColor, bolder);
      margin-bottom: 17px;
    }
    button {
      @include rubik(14px, $blue, bolder);
      border: none;
      text-decoration: underline;
      background: none;
      outline: none;
    }
  }
}

.header-center {
  nav {
    @include flex(space-between);
    a {
      text-decoration: none;
      p {
        // display: inline-block;
        @include rubik(18px, $textColor);
        text-decoration: underline;
        &:hover {
          color: $blue;
          @include transition(all, .4);
        }
      }
    }
    span:last-child {
      display: none;
    }
  }

  .header-middle-center {
    text-align: left;
    padding: 5px 0;
    .header-account {
      padding: 0;
      i, span {
        font-size: 18px;
        color: $orange;
        cursor: pointer;
      }
      p {
        @include rubik(16px, #222325, bold);
        margin: 0;
        padding: 0 20px;
      }
      a {
        text-decoration: none;
        span {
          @include rubik(16px, #5f5f5f);
          text-decoration: none;
          border-bottom: 1px dotted #5f5f5f;
          &:hover {
            color: $blue;
            @include transition(all, .4);
          }
        }
      }
      button {
        outline: none;
        padding: 0;
        @include rubik(16px, #5f5f5f);
        background: none;
        border: none;
        border-bottom: 1px dotted #5f5f5f;
        &:hover {
          color: $blue;
          @include transition(all, .4);
        }
      }
    }

    .header-lang-value {
      padding: 0;
      text-align: right;
      select {
        outline: none;
        height: 35px;
        @include rubik(14px, $blue);
        border: 1px solid $blue;
      }
    }

    .header-search {
      padding: 15px 0;
      input {
        background: url("/images/search.png") 10px 8px no-repeat;
        padding: 0 40px;
        outline: none;
        width: 100%;
        height: 40px;
        border: 2px solid $orange;
        @include rubik(16px, $textColor);
        &::placeholder {
          color: #5f5f5f;
        }
      }
    }
  }
}

.cart {
  text-align: center;
  .cart-wrapper {
    a {
      text-decoration: none;
    }
    position: relative;
    min-height: 130px;
    border: 1px solid #4a6a81;
    img {
      padding: 11px 0 8px;
      width: 25px;
    }
    p {
      @include rubik(14px, $textColor);
      span {
        color: $blue;
      }
    }
    .header-confirm-order {
      position: absolute;
      left: -1px;
      right: -1px;
      bottom: -1px;
      display: block;
      height: 35px;
      text-decoration: none;
      background-color: $orange;
      @include transition(all, .4);
      @include rubik(16px, white);
      padding: 6px 0;
      &:hover {
        background-color: $blue;
        @include transition(all, .4);
      }
    }
  }
}

.header-bottom {
  padding: 10px 15px;
  .header-info {
    text-align: left;
    @include rubik(16px, $textColor);
    span {
      font-weight: bolder;
    }
  }
  .header-socs {
    text-align: right;
    a {
      i {
        text-align: center;
        background-color: $orange;
        width: 30px;
        height: 30px;
        padding: 5px 0;
        color: white;
        font-size: 20px;
        @include transition(all, .3);
        &:hover {
          background: $blue;
          @include transition(all, .3);
          &:before {
            @include transition(all, .2);
            font-size: 16px;
          }
        }
      }
    }

  }
}

.header-main-nav {
  background-color: $blue;
  color: white;
  height: 70px;
  // overflow: hidden;
  ul {
    margin: 0 -15px;
    @include flex(space-between);
    font-size: 0;
    padding: 0;
    margin: 0;
    height: 70px;
    list-style: none;
    position: relative;
    // endtest
    li {
      //test
        line-height: 70px;
      // endtest
      &:last-child {
        border: none;
      }
      border-right: 1px solid $blueD;
      @include transition(all, .5);
      text-align: center;
      &:last-child {
        a {
          p {
            color: $orange;
          }
        }
      }
      a {
        text-decoration: none;
        p {
          @include rubik(18px, white);
          text-shadow: 1px 2px 5px rgba(0, 0, 0, 1);
          text-transform: uppercase;
          // padding: 22px 35px 22px 36px;
          margin: 0;

        }
      }
      &:hover {
        background-color: $blueD;
        @include transition(all, .5);
        .show-sub {
          display: block;
        }
        .show-brands {
          display: block;
        }
      }

      .show-sub {
        left: 0;
        width: 100%;
        top: 99%;
        display: none;
        z-index: 20;
        background-color: white;
        position: absolute;
        margin-top: 1px;
        border-right: 1px solid $blue;
        border-bottom: 1px solid $blue;

        .sub-list {
          height: 100%;
          z-index: 99;
          padding: 0;
          font-size: 18px;
          background-color: $blue;

          .sub-name {
            line-height: normal;
            z-index: 3;
            padding: 0;
            border-bottom: 1px solid $blueD;
            p {
              @include transition(all, .5);
              padding: 10px 0;
              margin: 0;
              color: white;
              background-color: $blue;
              a {
                color: white;
                span {

                }
              }
            }
            &:hover {
              cursor: pointer;
              p {
                @include transition(all, .5);
                background-color: $blueD;
              }
              .sub-descr {
                display: block;
              }

            }

            .sub-descr {
              min-height: 100%;
              z-index: 1;
              position: absolute;
              top: 0;
              left: 100%;
              width: 300%;
              display: none;

              .sub-descr-item {
                height: 100px;
                padding: 15px;
                text-align: left;
                img {
                  width: 80px;
                  display: inline-block;
                  vertical-align: middle;
                }
                p {
                  text-align: center;
                  width: 70%;
                  display: inline-block;
                  vertical-align: middle;
                  font-size: 16px;
                  margin: 0;
                  background: none;
                  color: $textColor;
                  text-shadow: none;
                }
                &:hover {
                  p {
                    color: $blue;
                  }
                }
              }
            }
          }
        }
      }

      .show-brands {
        z-index: 5;
        left: 0;
        border: 1px solid $blue;
        min-height: 200px;
        background-color: white;
        position: absolute;
        display: none;
        .image-wrapper {
          padding: 0;
          overflow: hidden;
        }
      }
      // end main LI
    }
  }

  // END Header
}

// FOOTER
footer {
  text-align: center;
  padding-top: 35px;
  padding-bottom: 20px;
  background-color: #1b303f;

  .footer-logo {
    img {
      width: 100%;
    }
    p {
      padding: 15px 0;
      @include rubik(12px, white);
    }
    .dvacom-logo {
      padding: 15px 0;
      width: auto;
    }
  }

  .footer-menu {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        text-align: left;
        a {
          text-decoration: none;
          p {
            padding: 10px;
            text-transform: uppercase;
            @include rubik(13px, white);
            @include transition(all, .6);
            &:hover {
              @include transition(all, .4);
              color: $blue;
            }
          }
        }
      }
    }
  }

  .additional-menu {
    ul {
      margin: 0;
      li {
        color: white;
        list-style: disc;
        &:hover {
          color: $blue;
        }
        text-align: left;
        a {
          text-decoration: none;
          p {
            padding: 10px;
            @include rubik(14px, white);
            @include transition(all, .6);
            &:hover {
              @include transition(all, .4);
              color: $blue;
            }
          }
        }
      }
    }

    .socs {
      padding-left: 30px;
      padding-top: 20px;
      text-align: left;
      a {
        i {
          margin: 0 5px;
          width: 30px;
          height: 30px;
          //background-color: $orange;
          color: white;
          font-size: 20px;
          text-align: center;
          padding: 5px 0;
          @include transition(all, .6);
          &:hover {
            color: $blue;
            @include transition(all, .4);
          }
        }
      }
    }
  }

  .footer-phones {
    .footer-phones-wrapper {
      border: 1px solid $blueD;
      p {
        padding: 4px 0;
        @include rubik(14px, white);
        span {
          color: $blueD;
        }
      }
      .feedback-button {
        display: inline-block;
        @include transform(translateY(50%));
        background-color: $blue;
        cursor: pointer;
        p {
          padding: 8px 10px;
          span {
            color: white;
            @include transition(all, .6);
          }
          &:hover {
            background-color: $blueD;
            @include transition(all, .4);
          }
        }
      }
    }
  }

  .footer-cart {
    min-height: 140px;
    border: 1px solid #4a6a81;
    img {
      padding: 10px 0;
      width: 25px;
    }
    p {
      min-height: 57px;
      padding: 0 5px;
      @include rubik(14px, white);
      span {
        color: $blue;
      }
    }
    a {
      text-decoration: none;
      span {
        @include rubik(14px, white);
        background-color: $orange;
        display: block;
        padding: 8px;
        @include transition(all, .6);
        &:hover {
          background-color: #4a6a81;
          @include transition(all, .4);
        }
      }
    }
  }

  .footer-info, .footer-info-add {
    margin-top: 20px;
    p {
      text-align: left;
      @include rubik(14px, white);
    }
  }
  .footer-info-add > p {
    text-align: center;
  }
}

@media(min-width: 768px) and (max-width: 991px) {
  footer {
    .footer-info, .footer-info-add {
      text-align: center;
      padding-bottom: 10px;
      margin-top: 0;
    }
  }
  .header-main-nav > ul > li > .show-sub > .sub-list > .sub-name > .sub-descr > .sub-descr-item > img {
    width: 60px;
  }
}

@media (max-width: 767px) {
  footer {
    .footer-menu {
      ul {
        li {
          a {
            p {
              font-size: 10px;
              font-weight: bolder;
            }
          }
        }
      }
    }

    .footer-phones {
      margin: 30px 0;
    }

    .footer-cart {
      p {
        padding: 0 95px;
      }
    }

    .additional-menu {
      .socs {
        padding: 0;
      }
    }

    .footer-info {
      p {
        text-align: center;
      }
    }
  }

}

// END FOOTER

@media(min-width: 768px) and (max-width: 991px) {
  header {
    margin: 0;
    padding: 8px 0 0;
  }

  .cart {
    .cart-wrapper {
      margin-top: 5px;
    }
  }

  .burger {
    i {
      cursor: pointer;
    }
  }

  .header-main-nav {
    height: 50px;
    ul {
      height: 50px;
    }
    ul li {
      line-height: 50px;
      .show-sub {
        top: 49px;
        .sub-list {
          .sub-name {
            p {
              font-size: 12px;
            }
            .sub-descr {
              width: 300%;
              .sub-descr-item {
                img {
                  width: 60px;
                }
                padding: 5px;
                p {
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
      a {
        p {
          font-size: 12px;
          // padding: 16px 20px 16px 21px;
          span {
            position: absolute;
            left: 50%;
            display: block;
            font-size: 12px;
          }
        }
      }
    }
  }

  .burger {
    padding: 0;
    font-size: 24px;
  }

  .header-logotype {
    padding: 0;
  }

  .header-phones-wrapper {
    padding: 5px 0 0 10px;
    i {
      padding: 5px 5px 8px;
    }
    p {
      display: inline-block;
      @include rubik(15px, $textColor, bolder);
      span {
        color: $orange;
      }
    }
    .show-phones {
      border: none;
      // &:hover + .header-phones {
      //   display: block !important;
      // }
    }
    .header-phones {
      position: absolute;
      background: white;
      left: 0;
      right: 0;
      margin: 0 auto;
      border: 1px solid #222325;
      z-index: 2;
      width: 70%;
      top: 100%;
      p {
        display: inline-block;
        margin: 3px 0;
        font-size: 15px;
      }
    }
  }

  .header-center {
    nav {
      @include transition(all, .5);
      left: -100%;
      top: 0;
      background: rgba(255, 255, 255, .93);
      z-index: 5;
      position: fixed;
      padding-top: 50px;
      height: 100vh;
      display: block !important;
      a {
        p {
          margin: 0;
          padding: 10px 70px;
          text-align: center;
          text-decoration: none;
          &:hover {
            cursor: pointer;
            color: $blue;
          }
        }
      }
      span {
        display: none;
        position: absolute;
        top: 2%;
        left: 5%;
        font-size: 25px;
      }
    }
    .show-nav-sm {
      left: 0;
      @include transition(all, .5);
    }

    padding: 0;
    .header-middle-center {
      .header-lang-value {
        padding: 0;
        text-align: center;
        select {
          font-size: 12px;
          font-weight: bolder;
        }
      }
      .header-account {
        text-align: right;
        i {
          padding: 4px 2px;
          font-size: 25px;
          color: $textColor;
        }
      }
    }
  }

  .header-bottom {
    padding: 15px 0 0;
    .header-info p {
      font-size: 13px;
    }
    .header-socs {
      padding: 0 15px;
      a i {
        width: 20px;
        height: 20px;
        font-size: 15px;
        padding: 3px 0;
      }
    }
  }

  .cart {
    padding: 0;
    height: 35px;
    .cart-wrapper {
      min-height: 35px;
      padding: 4px 0;
      img {
        padding: 0;
      }
    }
  }

  // end media
}

@media (max-width: 767px) {

  .burger {
    z-index: 4;
    padding: 8px 15px;
    font-size: 25px;
  }

  .header-logotype {
    padding: 0;
    img {
      padding: 0 15px;
      width: 100%;
    }
  }

  .header-center {
    padding: 0;
    .header-middle-center {
      .header-account {
        text-align: right;
        i {
          padding: 5px 5px;
          color: $textColor;
          font-size: 22px;
        }
      }
    }
  }

  .cart {
    .cart-wrapper {
      min-height: 35px;
      img {
        padding: 5px 0;
      }
    }
  }

  .header-bottom {
    .header-info {
      p {
        font-size: 12px;
      }
    }
  }

  .header-main-nav {
    ul {
      margin: 0;
      height: auto;
      display: block;
      li {
        height: 30px;
        //margin: 0 -15px;
        background-color: $blue;
        display: block;
        a p {
          padding: 3px 0;
          font-size: 12px;
          span {
            display: block;
            margin-top: -3px;
          }
        }

        &:hover {
          .show-brands {
            display: block;
          }
        }

        .show-brands {
          position: relative;
          margin: 0;
          min-height: 0;
          margin-top: -4px;
          z-index: 5;
          a {
            .image-wrapper {
              img {
                width: auto;
                height: 100%;
                padding: 15px;
              }
            }
          }
        }

        .show-sub {
          top: 0;
          position: relative;

          .sub-list {
            height: 100%;
            .sub-name {
              p {
                font-size: 12px;
                padding: 5px 0;
                span {
                  padding: 0 5px;
                }
              }
              &:hover {
                .sub-descr {
                  display: block;
                }
                .sub-descr {
                  width: 100%;
                  border: none;
                  padding: 0;
                  top: 0;
                  left: 0;
                  position: relative;
                  .sub-descr-item {
                    background-color: white;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .header-main-nav {
    height: auto;
  }

  // end media
}

@media(min-width: 992px) and (max-width: 1199px) {
  .header-phones-wrapper {
    padding: 0;
  }
  .cart {
    .cart-wrapper{

      p{
        font-size: 12px;
      }

    }
  }
  // end media
}

// END Header

//MODAL WINDWOS
.modal-wrapper {
  @include transition(all, .4);
  visibility: hidden;
  opacity: 0;
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
  form {
    @include rubik(14px, $textColor);
    padding: 25px 10px 10px 10px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
    background-color: white;
    margin: 0 auto;
    background-color: white;
    p {
      font-size: 18px;
      font-weight: bolder;
    }
    input {
      @include rubik(16px, $textColor);
      border: 1px solid #bfbfbf;
      margin: 7px 0;
      padding: 0 15px;
      height: 40px;
      width: 90%;
      outline: none;
      @include transition(all, .4);
      &:focus {
        border-color: $blue;
        @include transition(all, .4);
      }
    }
    textarea {
      @include rubik(16px, $textColor);
      border: 1px solid #bfbfbf;
      margin: 7px 0;
      padding: 5px;
      width: 90%;
      resize: none;
      outline: none;
      @include transition(all, .4);
      &:focus {
        border-color: $blue;
        @include transition(all, .4);
      }
    }
    button {
      letter-spacing: 1px;
      border: none;
      outline: none;
      height: 40px;
      background-color: $orange;
      color: white;
      margin: 5px 0;
      padding: 5px 25px;
      @include transition(all, .5);
      &:hover {
        background-color: $blue;
        @include transition(all, .5);
      }
    }
    .close-form{
      position: absolute;
      color: $orange;
      right: 5px;
      top: 5px;
      font-size: 20px;
      cursor: pointer;
      @include transform(scale(1));
      @include transition(all, .3);
      &:hover {
        color: $blue;
        cursor: pointer;
        @include transform(scale(1.2));
        @include transition(all, .3);
      }
    }
  }

  .not-valid {
    @include transition(all, .4);
    border: 1px solid $orange;
  }
  .not-valid-message {
    @include transition(all, .4);
    color: $orange;
    margin-left: 16px;
    text-align: left;
    font-size: 12px;
  }
}

.modal-callback-phone, .modal-product-answer {
  max-width: 95vw;
  padding: 5px;
  width: 350px;
  input {
    width: 65%;
    margin: 0 15px 0 0;
  }
}

.modal-callback-register {
  max-width: 95vw;
  //width: 350px;
  padding: 5px;
}

.modal-callback-signin {
  max-width: 95vw;
  padding: 5px;
  width: 350px;
}

//Modal class opacity

.show-modal-on {
  visibility: visible;
  opacity: 1;
  @include transition(all, .2);
}

.modal-in-cart {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 10vh;
  max-height: 80vh;
  overflow-y: scroll;
  background-color: white;
  .top {
    position: relative;
    text-align: left;
    border-bottom: 1px solid #bdbdbd;
    p {
      padding: 10px 15px;
      @include rubik(16px, $textColor, bolder);
      text-transform: uppercase;
    }
    span {
      color: $blue;
      font-size: 20px;
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      @include transition(all, .7);
      &:hover {
        @include transition(all, .4);
        @include transform(scale(1.2));
      }
    }
  }
  .item-in-wrapper {
    border-bottom: 1px solid #bdbdbd;
    padding: 0 10px;
    text-align: center;
    .item-img {
      line-height: 150px;
      overflow: hidden;
      img {
        display: inline-block;
        width: 100%;
      }
    }
    .name {
      p {
        padding: 0 15px;
        text-align: left;
        border-bottom: 1px solid #bdbdbd;
        line-height: 75px;
        @include rubik(17px, $blue, bolder);
      }
    }
    .price {
      text-align: right;
      p {
        padding: 0 15px;
        line-height: 75px;
        @include rubik(25px, $orange, bolder);
        span {
          font-size: 18px;
          color: $textColor;
        }
      }
    }
  }
  .bottom {
    line-height: 70px;
    text-align: right;
    p {
      text-align: left;
      cursor: pointer;
      @include rubik(14px, #4f5051);
      @include transition(all, .7);
      &:hover {
        color: $blue;
        @include transition(all, .4);
      }
    }
    a {
      text-decoration: none;
      span {
        cursor: pointer;
        @include rubik(16px, white);
        text-transform: uppercase;
        background-color: $orange;
        padding: 15px 20px;
        @include transition(all, .4);
        &:hover {
          background-color: $blue;
        }
      }
    }
  }
}

@media(min-width: 768px) and (max-width: 991px) {
  .modal-in-cart {
    .item-in-wrapper {
      .item-img {
        line-height: 102px;
      }
      .name, .price {
        p {
          line-height: 50px;
        }
      }
      .item-img {
        img {
          width: 90%;
        }
      }
      .bottom {
        a {
          span {
            padding: 10px;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .modal-in-cart {
    width: 90%;
    .item-in-wrapper {
      .name, .price {
        p {
          line-height: 30px;
        }
      }
    }
    .bottom {
      p {
        line-height: 30px;
        text-align: center;
      }
      a {
        span {
          padding: 10px;
        }
      }
    }
  }
  .modal-callback-phone {
    width: 90%;
  }
}

::-webkit-scrollbar {
  background-color: $blue;
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: $orange;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $blueD;
}

//BURGER
.show-burger {
  @include transition(all, .2);
  height: 100%;
  top: 0;
  left: -100%;
  width: 95%;
  padding-bottom: 25px;
  text-align: center;
  position: fixed;
  background: rgba(255, 255, 255, .95);
  z-index: 5;

  span {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 22px;
    color: $textColor;
  }

  nav {
    margin-top: 50px;
    a p {
      display: block;
      padding: 5px 45px;
      margin: 0;
      @include rubik(16px, $textColor);
    }
  }

  .burger-phones-wrapper {
    padding: 15px 0;
    i {
      color: $orange;
      border-right: 1px solid #bdbdbd;
      padding: 46px 4px;
      vertical-align: text-bottom;
    }

    .burger-phones {
      vertical-align: top;
      display: inline-block;
      a {
        p {
          display: block;
          padding: 5px 0;
          span {
            position: relative;
            top: 0;
            left: 0;
            color: $orange;
            font-size: 14px;
          }
        }
      }
      button {
        margin: 0 auto;
        display: block;
        @include rubik(14px, $blue, 600);
        border: none;
        outline: none;
        text-decoration: underline;
        background: none;
      }
    }
  }

  select {
    height: 35px;
    border: 1px solid $blue;
    outline: none;
    @include rubik(14px, $blue);
  }
}

.show-this-burger {
  @include transition(all, .3);
  left: 0;
}

//burger media
@media(min-width: 768px) and (max-width: 991px) {
  .show-burger {
    width: 40%;
    nav > a > p {
      font-size: 18px;
    }
  }

}

@media (max-width: 767px) {
  .show-burger {
    width: 90%;
  }
  //.header-main-nav ul > li > a > p{
  //  padding: 22px 18px 22px 19px;
  //}
}

.template-page-body {
  font-family: $rubik;
  margin: 20px auto;
  padding: 10px;
}

.nav-xs-main-nav {
  text-align: center;
  i {
    color: white;
    display: block;
  }
  p {
    border-bottom: 1px solid $blueD;
    @include rubik(14px, white, bolder);
    padding: 10px 15px;
    cursor: pointer;
    @include transition(all, .7);
    &:hover {
      @include transition(all, .4);
      background-color: $blueD;
    }
  }
  a {
    text-decoration: none;
    p {
      border-bottom: 1px solid $blueD;
      @include rubik(14px, white, bolder);
      padding: 10px 15px;
      cursor: pointer;
      @include transition(all, .7);
      &:hover {
        @include transition(all, .4);
        background-color: $blueD;
      }
    }
    &:last-child {
      p {
        color: $orange;
      }
    }
  }

  .nav-xs-main-subnav {
    .nav-xs-main-subnav-brand {
      background-color: white;
      display: block;
      border-bottom: 1px solid $blue;
    }
    display: none;
    p {
      i {
        display: inline-block;
      }
    }
    .nav-xs-main-subnav-wrap {
      .nav-xs-main-subnav-wrap-child {
        display: none;
        p {
          background-color: white;
          color: $blue;

        }
      }
    }
  }
}
