@import "variables";
.slick-initialized{
  // .slick-slide{
  //   height: 500px;
  // }
} 
.slider-wrapper {
  .slide-wrapp{
    // height: 500px;
    height: 39vw;
    .row{
      text-align: center;
      overflow: hidden;
      img{
        display: inline-block;
        width: 100%;
        height: 39vw;
      }
    }
  }
  text-align: center;
  position: relative;
  img {
    // width: 100%;
  }
  .slick-next, .slick-prev {
    position: absolute;
    top: 45%;
    line-height: 1;
    padding: 0px 15px 5px;
    background: rgba(0, 0, 0, .3);
    border: none;
    outline: none;
    color: white;
    font-size: 40px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    &:hover {
      background: rgba(0, 0, 0, .7);
      cursor: pointer;
      transform: scale(1.1);
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      -ms-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s;
    }
  }
  .slick-prev {
    left: 5%;
  }
  .slick-next {
    right: 5%;
  }
  .slick-dotss {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: inline-block;
    margin: 0 auto;
    ul {
      bottom: 5%;
      z-index: 2;
      list-style: none;
      li {
        line-height: 1;
        margin: 0 5px;
        font-size: 0;
        padding: 3px;
        display: inline-block;
        vertical-align: top;
        -webkit-transition: scale(1);
        -moz-transition: scale(1);
        -ms-transition: scale(1);
        -o-transition: scale(1);
        transition: scale(1);
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        button {
          background: transparent;
          border: 2px solid $blue;
          padding: 5px;
          font-size: 0;
        }
      }
      .slick-active {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
        -webkit-transition: all .4s;
        -moz-transition: all .4s;
        -ms-transition: all .4s;
        -o-transition: all .4s;
        transition: all .4s;
        border: 1px solid $blue;
        button {
          background: $blue;
        }
      }
    }
  }
}

.new-items-wrapper, .news-wrapper {
  background-color: white;
}

.news-wrapper {
  margin-bottom: 40px;
  a {
    text-decoration: none;
    .show-all-new {
      padding: 5px 0;
      margin-bottom: 15px;
      display: inline-block;
      position: relative;
      font-family: $rubik;
      font-size: 18px;
      color: #222325;
      @include transition(all, .6);
      &:before {
        @include transition(all, .6);
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 0;
        border: 1px solid $orange;
      }
    }
    &:hover {
      .show-all-new {
        @include transition(all, .5);
        color: $blue;
        &:before {
          @include transition(all, .5);
          width: 120%;
          margin-left: -10%;
        }
      }
    }
  }
}

.container {
  text-align: center;
  .page-title {
    margin: 30px 0 50px;
    display: inline-block;
    position: relative;
    text-align: center;
    font-family: $rubik;
    font-size: 30px;
    font-weight: bold;
    color: #222325;
    &:before {
      content: '';
      position: absolute;
      width: 20%;
      margin-left: 40%;

      bottom: 0;
      height: 1px;
      border: 1px solid $orange;
    }
  }

  .item-wrapper {
    text-align: center;
    background-color: white;
    font-size: 0;
    margin: 0 auto;
    width: 263px;
    box-sizing: border-box;
    height: 420px;
    border: 1px solid #d4d4d4;
    margin-bottom: 20px;
    overflow: hidden;
    @include transition(all, .6);
    position: relative;
    .item-discount {
      position: absolute;
      z-index: 5;
      left: 0;
      top: 5%;
      @include rubik(18px, white);
      padding: 5px 20px;
    }
    &:hover {
      -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.46);
      -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.46);
      box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.46);
      @include transition(all, .4);
    }
    .item-image {
      //margin: 0 -10px;
      //height: 175px;
      //line-height: 175px;
      line-height: 200px;
      height: 220px;
      img {
        display: inline-block;
        //width: 100%;
        height: auto;
      }
    }
    .item-name {
      margin: 0 10px;
      min-height: 80px;
      a {
        text-decoration: none;
        p {
          word-break: break-all;
          text-align: left;
          font-family: $rubik;
          font-size: 16px;
          color: #222325;
          @include transition(all, .5);
          &:hover {
            color: $blue;
            cursor: pointer;
            @include transition(all, .5);
          }
        }
      }
    }
    .item-code {
      padding-left: 10px;
      display: inline-block;
      width: 50%;
      height: 35px;
      p {
        font-weight: bolder;
        font-family: $rubik;
        font-size: 16px;
        text-align: left;
        color: $blue;
        span {
          font-size: 18px;
          color: #222325;
        }
      }
    }
    .item-custom-order {
      padding-right: 10px;
      display: inline-block;
      width: 50%;
      font-weight: bolder;
      font-family: $rubik;
      font-size: 14px;
      text-align: right;
      color: $blue;
    }
    .by-now {
      display: inline-block;
      width: 50%;
      padding-right: 10px;
      vertical-align: top;
      .disabled {
        color: white;
        border-color: $blue;
        background-color: $blue;
      }
      button {
        @include transition(all, .8);
        width: 100%;
        height: 35px;
        display: block;
        outline: none;
        font-family: $rubik;
        font-size: 14px;
        border: 1px solid $blue;
        background-color: white;
        text-transform: uppercase;
        color: $blue;
        &:hover {
          @include transition(all, .4);
          background-color: $blue;
          color: white;
        }
      }
      .button-in-cart {
        background: $blue;
        color: white;
      }
    }
    .price {
      padding-left: 10px;
      display: inline-block;
      vertical-align: top;
      width: 50%;
      min-height: 60px;
      text-align: left;
      color: #222325;
      font-size: 14px;
      line-height: 17px;
      p {
        @include rubik(14px, $textColor);
      }
      .old-price {
        font-size: 14px;
        font-weight: bolder;
        text-decoration: line-through;
        text-decoration-color: $orange;
      }
      .current-price {
        font-size: 18px;
        font-weight: bolder;
        //@include rubik(18px, $textColor, bolder);
        span {
          color: $orange;
        }
      }
    }
    .item-feedback {
      padding: 0 10px;
      border-top: 1px solid #d4d4d4;
      .item-stars {
        display: inline-block;
        vertical-align: top;
        width: 50%;
        font-size: 18px;
        i {
          color: $orange;
        }
        text-align: left;
      }
      .item-comments {
        display: inline-block;
        width: 50%;
        vertical-align: top;
        a {
          p {
            text-align: right;
            color: #222325;
            font-family: $rubik;
            font-size: 14px;
            &:hover {
              color: $blue;
            }
          }
        }
      }
    }
    //  end-item-wrapper
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .item-wrapper {
      width: 95%;
      .item-image {
        img {
          width: 100%;
        }
      }
      .item-feedback {
        .item-stars {
          font-size: 16px;
        }
      }
    }
  }
  @media (max-width: 767px) {

  }

  .items-slider-nav {
    font-size: 0;
    text-align: right;
    .items-slick-prev, .items-slick-next {
      line-height: 1.2;
      border: 1px solid $blue;
      background-color: white;
      color: $blue;
      font-size: 26px;
      padding: 0px 10px;
      &:first-child {
        border-right: none;
      }
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      -ms-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s;
      &:hover {
        cursor: pointer;
        color: white;
        background-color: $blue;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
      }
    }
  }

}

.banner-wrapper {
  margin: 40px 0;
  padding: 30px 0;
  font-size: 0;
  .container {
    background-color: $blue;
    border: 2.5px solid $blue;
  }
  .large {
    background: #f3f3f3;
    border: 2.5px solid $blue;
    &:before {
      content: '';
      display: inline-block;
      padding-top: 450px;
    }
  }
  .small {
    background: #f3f3f3;
    border: 2.5px solid $blue;
    &:before {
      content: '';
      display: inline-block;
      padding-top: 223px;
    }
  }
  a {
    img {
      display: inline-block;
      vertical-align: top;
      //border: 2px solid $blue;
    }
  }
}

.news {
  .new-item {
    margin-bottom: 25px;
    border: 1px solid #d4d4d4;
    a {
      .new-image {
        text-align: center;
        height: 110px;
        overflow: hidden;
        img {
          display: inline-block;
        }
      }
      .new-name {
        text-align: left;
        padding: 5px 10px;
        p {
          text-transform: uppercase;
          @include rubik(14px, #222325, bolder);
          @include transition(all, .7);
        }
      }
      .new-date {
        border-top: 1px solid #d4d4d4;
        padding: 5px 10px;
        text-align: left;
        font-family: $rubik;
        font-size: 12px;
        color: #d4d4d4;
      }
      &:hover {
        text-decoration: none;
        .new-name {
          p {
            color: $blue;
            @include transition(all, .4);
          }
        }
      }
    }
  }
}

@media(min-width: 992px) and (max-width: 1199px) {
  .news {
    .new-item {
      a {
        .new-image {
          img {
            height: 100%;
          }
        }
        .new-name {
          p {
            overflow: hidden;
          }
        }
      }
    }
  }
}

@media(min-width: 768px) and (max-width: 991px) {
  .slider-wrapper {
    .slide-wrapp{
      // height: 250px;
      background-size: cover;
      .row{
        text-align: center;
        overflow: hidden;
        img{
          display: inline-block;
          width: 100%;
          height: 39vw;
        }
      }
    }
  }

  .news {
    .new-item {
      a {
        .new-image {
          img {
            width: 100%;
          }
        }
        .new-name {
          min-height: 70px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .slider-wrapper {
    .slide-wrapp{
      // height: 150px;
      background-size: cover;
      .row{
        img{
          width: 80%;
        }
      }
    }
  }

  .news {
    .new-item {
      a {
        .new-image {
          img {
            width: 100%;
          }
        }
      }
    }
  }
}

.page-body-wrapper {
  padding: 35px 0;
  background-color: #f3f3f3;
  font-family: $rubik;
}

// @media(min-width: 992px) and (max-width: 1199px) {
//   .header-main-nav {
//     ul {
//       li {
//         a {
//           p {
//             // padding: 22px 18px 22px 19px;
//           }
//         }
//       }
//     }
//   }
// }

//MD
@media(min-width: 768px) and (max-width: 991px) {
  .slider-wrapper {
    .slick-dotss {
      ul > li > button {
        padding: 4px;
      }
    }
  }
  .latest-item-slider {
    //.item-wrapper {
    //  min-height: 441px;
    //}
  }

  .banner-wrapper {
    .large {
      border: 2.5px solid $blue;
      &:before {
        content: '';
        display: inline-block;
        padding-top: 305px;
      }
    }
    .small {
      border: 2.5px solid $blue;
      &:before {
        content: '';
        display: inline-block;
        padding-top: 150px;
      }
    }
  }
}

//XS
@media (max-width: 767px) {
  .slider-wrapper {
    .slick-dotss {
      bottom: -10px;
      ul {
        bottom: 2%;
      }
      ul > li {
        padding: 1px;
        button {
          padding: 2px;
        }
      }
    }
  }
  .container {
    .page-title {
      p {
        margin: 20px 0 25px;
      }
    }
  }
  .container {
    //.item-wrapper {
    //  margin: 15px -15px;
    //}
  }

  .banner-wrapper {
    .container {
      width: 90%;
    }
  }

}