$orange: #ff6501;
$blue: #0c6eb5;
$blueD: #0c588f;
@import url('https://fonts.googleapis.com/css?family=Rubik');
$rubik: 'Rubik', sans-serif;

html {
  p {
    margin: 0;
  }
}

body {
  background-color: #f3f3f3;
}

header {
  background-color: white;
  padding-top: 10px;
  .logotype {
    line-height: 9;
    img {
      width: 120%;
      margin-left: -20px;
    }
  }
  .contacts {
    text-align: center;
    font-family: $rubik;
    font-size: 17px;
    .phone-icon {
      line-height: 120px;
    }
    .phones {
      border-left: 1px solid lightslategray;
      .call {
        font-size: 14px;
        text-decoration: underline;
        color: $blue;
        font-weight: normal;
        &:hover {
          cursor: pointer;
        }
      }
    }
    div {
      display: inline-block;
      vertical-align: top;
    }
    span {
      color: $orange;
    }
    p {
      font-weight: bold;
      margin-bottom: 10px;
      &:last-child {
        margin: 0;
      }
    }
  }
  .header-center {
    .header-center-navigation {
      display: flex;
      justify-content: space-between;
      a {
        display: inline-block;
        font-family: $rubik;
        color: black;
        font-size: 18px;
      }
    }
    .header-center-middle {
      margin: 10px 0;
      .header-login {
        text-align: left;
        font-family: $rubik;
        color: #5f5f5f;
        p {
          display: inline-block;
          margin: 10px 0;
          font-size: 16px;
          border-bottom: 1px dotted #5f5f5f;
          &:hover {
            cursor: pointer;
          }
        }
        span {
          color: $orange;
          font-size: 21px;
        }
      }
      .header-lang-choise {
        text-align: right;
        div {
          display: inline-block;
        }
        ul {
          display: inline-block;
          position: relative;
          text-align: center;
          list-style: none;
          font-family: $rubik;
          font-size: 14px;
          color: $blue;
          padding: 0;
          li {
            background: white;
            padding: 5px;
            border: 1px solid $blue;
            margin-left: -1px;
            width: 104%;
            &:hover {
              cursor: pointer;
              ul > li {
                background: white;
                display: block;
              }
            }
            ul {
              z-index: 2;
              position: absolute;
              top: 98%;
              left: 0;
              width: 100%;
              li {
                display: none;

              }
            }
            span {
              padding: 0 5px;
            }
            i {
              font-size: 14px;
              color: lightslategray;
            }
          }
        }
      }
    }

    .header-search {
      input {
        font-family: $rubik;
        font-size: 16px;
        font-style: italic;
        border: 2px solid $orange;
        padding: 9px 35px;
        width: 100%;
        outline: none;
        background: url("/images/search.png") 1% 50% no-repeat;
        &::-webkit-input-placeholder {
          color: #5f5f5f;
        }
      }
    }
  }
  .cart {
    text-align: center;
    border: 1px solid #4a6a81;
    border-bottom: none;
    img {
      width: 30px;
      display: block;
      margin: 10px auto;
    }
    p {
      display: inline-block;
      font-family: $rubik;
      font-size: 12px;
      margin: 0;
      padding: 8px 0;
    }
    span {
      font-weight: bold;
      color: $blue;
    }
  }
  .make-order {
    text-align: center;
    background-color: $orange;
    a {
      p {
        font-family: $rubik;
        font-size: 16px;
        color: white;
        padding: 8px 0;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }

  .header-bottom {
    margin: 10px -15px 20px -15px;
    .header-bottom-info {
      margin-top: 10px;
      display: inline-block;
      p {
        color: #222325;
        font-family: $rubik;
        font-size: 16px;
        margin: 0;
        span {
          font-weight: bold;
        }
      }
    }

    .social {
      text-align: right;
      i {
        color: white;
        background-color: $orange;
        padding: 10px 12px;
      }
    }
  }
}

nav {
  text-align: center;
  background-color: $blue;
  color: white;
  border-top: 1px solid #bebebe;
  .navigation {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    a {
      font-family: $rubik;
      padding: 21px;
      color: white;
      font-size: 18px;
      text-shadow: 1px 2px 5px rgba(0, 0, 0, 1);
      border-right: 1px solid $blueD;
      &:last-child {
        border-right: none;
      }
      &:hover {
        background-color: $blueD;
        color: white;
        text-decoration: none;
      }
    }
  }
}

footer {
  padding: 50px 0;
  background: #1b303f;
  .footer-logo {
    text-align: center;
    img {
      width: 59%;
    }
    p {
      font-family: $rubik;
      font-size: 12px;
      color: #ffff;
      padding: 10px 0;
    }
    .dvacom-logo {
      padding: 40px 0;
      width: 60px;
    }
  }
  .footer-nav {
    text-align: left;
    a {
      display: block;
      color: white;
      font-family: $rubik;
      font-size: 13px;
      text-decoration: none;
      margin: 15px 0;
      &:first-child {
        margin-top: 0;
      }
      &:hover {
        color: $blue;
      }
    }
  }

  .footer-subnav {
    text-align: left;
    ol {
      padding: 0;
      li {
        color: white;
        list-style-type: disc;
        &:hover {
          color: $blue;
          a {
            color: $blue;
          }
        }
        a {
          display: block;
          color: white;
          font-family: $rubik;
          font-size: 13px;
          text-decoration: none;
          margin: 10px 0;
          &:first-child {
            margin-top: 0;
          }
        }
      }
    }

    .footer-soc {
      margin-top: 30px;
      i {
        margin: 0 3px;
        width: 30px;
        height: 30px;
        background-color: $orange;
        font-size: 24px;
        color: white;
        overflow: hidden;
        &:before {
          line-height: 1.2;
          margin-left: 4px;
        }
      }
    }
  }

  .footer-phones {
    margin: 0 -30px;
    text-align: center;
    .footer-phones-wrap {
      position: relative;
      display: inline-block;
      padding: 10px 35px 35px;
      border: 1px solid $blue;
      .footer-phones-item {
        p {
          margin: 0;
          line-height: 1.5;
          padding: 5px 0;
          display: inline-block;
          font-family: $rubik;
          font-size: 14px;
          color: white;
          span {
            color: $blue;
          }
        }
      }
    }
    .feedback-button {
      position: absolute;
      bottom: -17px;
      left: 0;
      right: 0;
      margin: 0 auto;
      height: 44px;
      display: block;
      padding: 0 10px;
      background-color: $blue;
      color: white;
      border: none;
      outline: none;
      font-family: $rubik;
      font-size: 14px;
      &:hover {
        background-color: $blueD;
      }
    }
    p {
      line-height: 1.2;
      text-align: left;
      margin: 10px 0;
      font-family: $rubik;
      font-size: 14px;
      color: white;
    }
  }

  .footer-basket {
    display: inline-block;
    border: 1px solid #4a6a81;
    img {
      padding: 10px 0;
      width: 30px;
      color: white;
    }
    p {
      line-height: 1.5;
      text-align: center;
      font-family: $rubik;
      font-size: 14px;
      color: white;
      span {
        color: $blue;
      }
    }
    .footer-make-order {
      border: none;
      outline: none;
      width: 100%;
      height: 44px;
      background-color: $orange;
      font-family: $rubik;
      font-size: 14px;
      color: white;
    }
  }

  //  end footer
}

//MD
@media(min-width: 768px) and (max-width: 991px) {
  header {
    .logotype {
      line-height: 1;
      //padding-top: 5px;
      .burger {
        font-size: 20px;
        line-height: 2;
      }
      img {
        width: 100%;
        margin: 0;
      }
    }
    .phones {
      p {
        font-size: 15px;
      }
    }

    .cart {
      margin-top: -3px;
      line-height: 1.9;
      border: 1px solid #4a6a81;
      height: 35px;
      img {
        width: 17px;
        display: inline-block;
        margin: 0;
      }
      p {
        padding: 5px 0;
      }
    }
    .contacts {
      //padding-top: 5px;
      .phone-icon {
        line-height: 1.4;
      }
      .phones {
        p {
          margin: 0;
        }
      }
    }
    .header-center {
      .header-center-middle {
        margin: 0;
        text-align: right;
        a {
          color: black;
        }
        i {
          padding: 0 2px;
          font-size: 20px;
        }
        .header-lang-choise {
          margin: -3px 0;
          ul > li {
            font-size: 12px;
          }
          ul {
            li {
              padding: 8px;
            }
          }
        }
      }
    }
    .header-bottom {
      padding-bottom: 5px;
      margin-top: 0;
      margin-bottom: 0;
      .header-bottom-info {
        margin-top: 0;
        p {
          font-size: 13px;
        }
      }
      .social > i {
        width: 20px;
        height: 20px;
        padding: 3px 0 0 0;
        text-align: center;
      }
    }
  }
  nav {
    .navigation {
      margin: 0 -30px;
      flex-direction: column;
      overflow: hidden;
      height: 50px;
      a {
        i {
          margin: -5px;
        }
        padding: 15px;
        font-size: 12px;
      }
    }
  }
  footer {
    padding: 25px 0 0;
    .footer-phones {
      margin: 30px -30px;
      .footer-phones-wrap {
        padding: 10px 40px 35px;
      }
    }
  }
}

//XS
@media (max-width: 767px) {
  header {
    .logotype {
      line-height: 1;
      .burger {
        font-size: 26px;
        line-height: 1.6;
      }
      img {
        width: 70px;
        margin: 0;
      }
    }
    .header-center {
      .header-center-middle {
        margin: 0;
        padding-top: 6px;
        text-align: right;
        a {
          color: black;
        }
        i {
          padding: 0 5px;
          font-size: 22px;
        }
      }
    }
    .cart {
      line-height: 2.2;
      height: 35px;
      padding: 0;
      border: 1px solid #4a6a81;
      img {
        width: 20px;
        display: inline-block;
        margin: 0;
        padding: 0;
      }
      p {
        padding: 8px 0;
      }
      span {
        display: inline-block;
      }
    }
    .header-bottom {
      padding-bottom: 5px;
      margin-top: 0;
      margin-bottom: 0;
      .header-bottom-info {
        margin-top: 0;
        padding: 0 15px;
        text-align: center;
        p {
          font-size: 12px;
        }
      }
    }
  }
  nav {
    .navigation {
      flex-direction: column;
      overflow: hidden;
      a {
        height: 40px;
        i {
          margin: -5px;
        }
        padding: 10px;
        font-size: 12px;
      }
    }
  }
  footer {
    padding: 20px 0 0;
    .footer-nav {
      a {
        font-size: 10px;
        font-weight: bold;
      }
    }
    .footer-subnav {
      padding: 0 30px;
      .footer-soc {
        a {
          i {
            width: 20px;
            height: 20px;
            font-size: 15px;
            line-height: 1;
          }
        }
      }
    }
    .footer-phones {
      p {
        text-align: center;
      }
      margin: 20px 0;
      .footer-phones-wrap {
        width: 100%;
        margin-bottom: 50px;
      }
      .footer-basket {
        display: block;
        margin: 0 15px 10px;
        p {
          padding: 0 50px;
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  header {
    .phones {
      font-size: 14px;
    }
    .header-center {
      .header-center-middle {
        .header-login {
          p {
            font-size: 14px;
          }
        }
      }
    }
  }
  nav {
    .navigation {
      overflow: hidden;
      a {
        height: 50px;
        i {
          margin: -5px;
        }
        padding: 15px;
        font-size: 16px;
      }
    }
  }
  footer {
    .footer-phones {
      .footer-phones-wrap {
        padding: 10px 10px 35px;
      }
    }
  }
}

//STOP HEADER
//START MODAL WINDOWS
.modal-call-feedback {
  background-color: rgba(0, 0, 0, .7);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  .form {
    position: relative;
    padding: 25px 10px;
    text-align: center;
    top: 50vh;
    position: fixed;
    background-color: white;
    i {
      position: absolute;
      top: 5%;
      left: 95%;
      color: red;
      font-size: 20px;
    }
    p {
      color: #4a6a81;
      margin: 0 0 30px 0;
      font-family: $rubik;
      font-size: 20px;
      font-weight: bold;
    }
    input {
      padding: 0 15px;
      outline: none;
      border: 1px solid #4a6a81;
      width: 345px;
      height: 40px;
      font-size: 16px;
      font-family: $rubik;
    }
    button {
      margin-left: 25px;
      background: $orange;
      color: white;
      font-family: $rubik;
      font-size: 16px;
      border: none;
      outline: none;
      width: 150px;
      height: 40px;
    }
  }
}
