$orange: #ff6501;
$blue: #0c6eb5;
$blueD: #0c588f;
$rubik: 'Rubik', sans-serif;
$textColor: #222325;
@import "variables";
@import "pagination";


@mixin transition($obj, $duration) {
  -webkit-transition: $obj $duration + s;
  -webkit-transition: $obj $duration+s;
  transition: $obj $duration+s;
}

@mixin transform($string) {
  -webkit-transform: $string;
  transform: $string;
}

@mixin rubik($size, $color, $weight:normal) {
  font-family: $rubik;
  font-size: $size;
  color: $color;
  font-weight: $weight;
}

.content {
  .item-wrapper {
    margin: 15px 0;
    border: 1px solid #bdbdbd;
    background-color: white;

    .item-picture {
      padding: 0;
      overflow: hidden;
      img {
        width: 100%;
        height: auto;
      }
    }
    .new-text {
      padding: 10px 30px;
      height: 210px;
      overflow: hidden;
      .new-title {
        font-weight: bolder;
        color: $blue;
        text-transform: uppercase;
      }
      p {
        @include rubik(16px, $textColor);
      }
    }
    .read-full {
      a {
        p {
          text-align: left;
          text-decoration: underline;
          @include rubik(15px, $blue);
        }
      }
    }
    .date {
      p {
        @include rubik(14px, #4f5051);
        text-align: right;
      }
    }

    // end item wrapper
  }
}

@media(min-width: 992px) and (max-width: 1199px) {
  .content {
    .item-wrapper {
      .new-text {
        height: 170px;
      }
    }
  }
}

@media(min-width: 768px) and (max-width: 991px) {
  .content {
    .item-wrapper {
      .new-text {
        p {
          font-size: 14px;
        }
        height: 125px;
        .new-title {
          font-size: 14px;
        }
      }
    }
  }
  // end media
}

@media (max-width: 767px) {
  .content {
    .item-wrapper {
      .new-text {
        padding: 5px 10px;
        height: 130px;
        p{
          font-size: 14px;
        }
      }
      .read-full, .date{
        padding: 0;
        a{
          p{
            font-size: 14px;
          }
        }
      }
    }
  }
  // end media
}