@import "variables";
.pagination {
  .angle {
    font-size: 26px;
    padding: 0;
  }
  .active {
    background-color: $blue;
    color: white;
    cursor: no-drop;
  }
  .disabled:hover {
    cursor: no-drop;
  }
  .dots {
    font-size: 20px;
    font-weight: bold;
    color: $blue;
    letter-spacing: 2px;
    padding: 0 4px;
  }
  a {
    padding: 13px 0;
    line-height: 0;
    text-decoration: none;
    display: inline-block;
    border: 1px solid $blue;
    width: 30px;
    height: 30px;
    text-align: center;
    overflow: hidden;
    @include rubik(16px, $blue);
    span {
      vertical-align: middle;
    }
    @include transition(all, .4);
    &:hover {
      @include transition(all, .4);
      background-color: $blue;
      color: white;
    }
  }
}