$orange: #ff6501;
$blue: #0c6eb5;
$blueD: #0c588f;
$rubik: 'Rubik', sans-serif;
$textColor: #222325;

@mixin transition($obj, $duration) {
  -webkit-transition: $obj $duration + s;
  -webkit-transition: $obj $duration+s;
  transition: $obj $duration+s;
}

@mixin transform($string) {
  -webkit-transform: $string;
  transform: $string;
}

@mixin rubik($size, $color, $weight:normal) {
  font-family: $rubik;
  font-size: $size;
  color: $color;
  font-weight: $weight;
}

.personal {
  a {
    text-decoration: none;
  }
  padding: 15px 0;
  .navigation {
    .active {
      background-color: $blueD;
    }
    a {
      span {
        display: inline-block;
        @include rubik(16px, $blue);
        padding: 15px 0;
        color: $blue;
        text-decoration: underline;
      }

      p {
        @include rubik(18px, white);
        padding: 15px;
        border-bottom: 1px solid $blueD;
        background-color: $blue;
        &:hover {
          background-color: $blueD;
          @include transition(all, .5);
        }
      }
    }
    p {
      cursor: pointer;
      @include rubik(18px, white);
      padding: 15px;
      border-bottom: 1px solid $blueD;
      background-color: $blue;
      &:hover {
        background-color: $blueD;
        @include transition(all, .5);
      }
    }
  }

  .one-row {
    border-top: 1px solid #bdbdbd;
    .row-name {
      p {
        background-color: #ececec;
        padding: 15px;
        @include rubik(18px, $blue);
      }
    }
    .row-descr {
      p {
        padding: 15px;
        @include rubik(18px, #222325);
      }
    }

    &:first-child {
      border: none;
    }
  }

  .edit-personal {
    cursor: pointer;
    margin: 15px 0;
    height: 40px;
    display: inline-block;
    @include rubik(16px, $orange);
    padding: 8px 15px;
    vertical-align: middle;
    border: 1px solid $orange;
    @include transition(all, .6);
    &:hover {
      background-color: $orange;
      color: white;
      @include transition(all, .4);
    }
  }

}

@media(min-width: 768px) and (max-width: 991px) {
  .personal {
    .one-row {
      margin: 0;
      .row-name, .row-descr {
        p {
          font-size: 16px;
        }
      }
    }

    .edit-personal {
      margin: 15px 15px;
    }
    .navigation {
      a {
        p {
          font-size: 16px;
        }
      }
      p {
        font-size: 16px;
      }
    }
  }
  // end media
}

@media (max-width: 767px) {
  .personal {
    .navigation {
      a {
        span {
          font-size: 14px;
          padding: 10px 0;
        }
        p {
          font-size: 12px;
          text-align: center;
          height: 30px;
          padding: 7px;
        }
      }
      p {
        font-size: 12px;
        text-align: center;
        height: 30px;
        padding: 7px;
      }
    }
    .one-row {
      border: none;
      margin: 0;
      .row-name, .row-descr {
        p {
          font-size: 14px;
          text-align: center;
          height: 34px;
          padding: 6px;
        }
      }
    }
    .edit-personal {
      display: block;
      text-align: center;
      margin: 10px 15px;
    }

  }
  // end media
}

.order-product {
  background-color: white;
  border: 1px solid $blue;
  padding: 10px 0;
  margin: 10px -15px;
  &:hover {
    .order-product-name {
      a {
        p {
          color: $orange;
          @include transition(all, .4);
        }
      }
    }
  }
  .order-product-name {
    a {
      p {
        @include transition(all, .7);
        @include rubik(18px, $textColor, bolder);
      }
    }
  }
  .order-product-date {
    text-align: right;
    p {
      @include rubik(14px, gray);
    }
  }
  p {
    @include rubik(14px, $textColor, bolder);
    span {
      color: $blue;
    }
  }

}