$orange: #ff6501;
$blue: #0c6eb5;
$blueD: #0c588f;
$textColor: #222325;
@import url('https://fonts.googleapis.com/css?family=Rubik');
$rubik: 'Rubik', sans-serif;

@mixin transition($obj, $duration) {
  -webkit-transition: $obj $duration + s;
  -webkit-transition: $obj $duration + s;
  transition: $obj $duration + s;
}

@mixin transform($string) {
  -webkit-transform: $string;
  transform: $string;
}

@mixin rubik($size, $color, $weight:normal) {
  font-family: $rubik;
  font-size: $size;
  color: $color;
  font-weight: $weight;
}

@mixin flex($justify) {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex;
  -webkit-justify-content: $justify;
  justify-content: $justify;
}

.product-name {
  @include rubik(30px, $textColor, bolder);
}

.product-images {
  position: relative;
  .item-label {
    position: absolute;
    min-width: 25%;
    max-width: 30%;
    text-align: center;
    top: 45px;
    padding: 9px 15px;
    @include rubik(18px, white);
    span {
      font-weight: bolder;
    }
  }
  padding: 0;
  img {
    width: 100%;
  }
  .additional-images {
    a {
      font-size: 0;
    }
    .image-container {
      display: inline-block;
      background-color: white;
      line-height: 80px;
      width: 80px;
      height: 80px;
    }

    .additional-image-wrapper {
      display: inline-block;
      vertical-align: top;
      position: relative;
      border: 1px solid $textColor;
      width: 80px;
      margin: 0;
      &:before {
        content: '';
        display: block;
        padding-top: 100%;
        float: left;
      }
      img {
        width: 100%;
        margin: 0 !important;
        padding: 0 !important;
      }
    }
  }
}

.product-rightSide {
  padding-left: 30px;
}

.product-colors {
  padding: 10px 30px;
  p {
    padding: 0 10px 0 0;
    display: inline-block;
    @include rubik(14px, #4f5051);
  }
  .color {
    font-size: 0;
    span {
      margin: 0 4px;
      display: inline-block;
      vertical-align: top;
      width: 22px;
      height: 22px;
      @include transition(all, .4);
      &:hover {
        border: 1px solid;
        @include transform(scale(1.2));
        -webkit-box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, 1);
        -moz-box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, 1);
        box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, 1);
        @include transition(all, .4);
      }
    }
  }
  .active {
    span {
      border: 1px solid;
      @include transform(scale(1.2));
      -webkit-box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, 1);
      -moz-box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, 1);
      box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, 1);
    }
  }
}

.product-sizes {
  padding: 15px 30px;
  p {
    margin: 5px 0;
    padding: 0 10px 0 0;
    display: inline-block;
    @include rubik(14px, #4f5051);
  }
  .product-size {
    text-align: center;
    vertical-align: bottom;
    display: inline-block;
    border: 1px solid $blue;
    width: 35px;
    height: 35px;
    overflow: hidden;
    @include transition(all, .4);
    span {
      @include rubik(16px, #4f5051);
      display: inline-block;
      vertical-align: top;
      padding: 6px;
    }
    &:hover {
      @include transition(all, .4);
      background-color: $blue;
      span {
        color: white;
      }
    }
  }
  .active {
    background-color: $blue;
    span {
      color: white;
    }
  }

}

.product-nav {
  background-color: white;
  .top {
    p {
      margin: 10px 0;
    }
    .stars {
      i {
        color: $orange;
      }
      span {
        margin: 5px 0;
        @include rubik(14px, #4f5051);
        padding-left: 5px;
      }
    }

    .code {
      @include rubik(16px, $blue);
      span {
        color: $textColor;
        font-size: 18px;
      }
    }
    .status {
      i {
        padding-right: 5px;
        color: #22b600;
      }
      @include rubik(16px, #22b600);
    }

    border-bottom: 1px solid #bdbdbd;
  }

  .bottom {
    padding: 5px 15px;
    .left {
      padding: 0;
      span {
        @include rubik(14px, $textColor);
      }
      p {
        @include rubik(25px, $orange);
        .old-price {
          font-size: 16px;
          text-decoration: line-through;
          color: #5f5f5f;
        }
        span {
          color: $textColor;
          font-size: 18px;
        }
      }
    }

    .right {
      text-align: right;
      padding: 0;
      button {
        text-transform: uppercase;
        border: 1px solid $orange;
        background-color: $orange;
        @include rubik(16px, white);
        padding: 10px 30px;
        margin: 7px 0;
        outline: none;
        @include transition(all, .6);
        &:hover {
          @include transition(all, .4);
          background-color: $blue;
          border-color: $blue;
        }
      }
      .button-in-cart {
        background: $blue;
        border-color: $blue;
        color: white;
      }
      .disabled {
        color: #7e7e7e;
        border-color: #7e7e7e;
        background: none;
        &:hover {
          color: white;
          background: #7e7e7e;
          border-color: #7e7e7e;
        }
      }
    }
  }
}

.answer {
  margin: 15px 0;
  @include transition(all, .4);
  i {
    @include transition(all, .4);
    color: $orange;
  }
  @include rubik(16px, $textColor);
  &:hover {
    @include transition(all, .8);
    cursor: pointer;
    color: $blue;
    i {
      @include transition(all, .4);
      @include transform(scale(1.5) rotate(720deg));
      color: $blue;
    }
  }
}

.tab-panel {
  padding: 0;
  margin: 20px 0;
  padding-top: 4px;
  .header {
    height: 50px;
    padding-top: 4px;
    background-color: $blueD;
    ul {
      width: 100%;
      font-size: 0;
      padding: 0;
      height: 46px;
      background-color: $blue;
      li {
        @include transition(all, 1);
        background: $blue;
        padding: 12px 10px;
        @include rubik(16px, white);
        text-decoration: none;
        display: inline-block;
        border-right: 1px solid $blueD;
        span {
          font-weight: bolder;
        }
        &:last-child {
          border-right: none;
        }
        &:hover {
          cursor: pointer;
          background-color: $blueD;
        }
      }
      .active {
        background-color: $blueD;
      }
    }
  }

  .tab-content {
    .active {
      display: block !important;
      padding: 5px 0 0 0;
    }
    .tab {
      font-family: Rubik;
      padding: 0;
      min-height: 0;
      background-color: white;
      display: none;
      p {
        padding: 10px;
      }
    }
  }

  .chars {
    overflow: hidden;
    margin: 0;
    .charname, .chardescr {
      p {
        position: relative;
        margin: 10px 0;
        &:after {
          bottom: -10px;
          content: "";
          position: absolute;
          height: 1px;
          left: 0;
          background-color: #bdbdbd;
        }
      }
    }
    .charname {
      @include rubik(16px, white);
      background-color: $blue;
      p:after {
        width: 110%;
      }
    }
    .chardescr {
      @include rubik(16px, $textColor);
      p:after {
        width: 100%;
      }
    }
    &:last-child {
      .charname {
        p:after {
          height: 0;
          width: 0;
        }
      }
    }
  }
}

#vid {
  position: relative;
  overflow: hidden;
  &:before {
    content: '';
    display: inline-block;
    padding-top: 60%;
  }
  iframe {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 90%;
    height: 90% !important;
  }
}

#feed {
  padding: 10px;
  .comment-wrapper {
    margin: 30px 10px;
    .comment-user {
      font-size: 20px;
      padding: 10px 15px;
      background-color: #e8e8e8;
    }
    .comment-user-name {
      padding: 0 15px;
      vertical-align: top;
      display: inline-block;
      @include rubik(16px, $textColor, bolder);
    }
    .comment-stars {
      display: inline-block;
      vertical-align: top;
      i {
        color: $orange;
      }
    }
    .comment-date {
      display: inline-block;
      vertical-align: top;
      float: right;
      p {
        padding: 0;
      }
    }
    .comment-text {
      margin-left: 60px;
      p {
        @include rubik(16px, $textColor);
        border: 1px solid #bdbdbd;
      }
    }
    //  end comment-wrapper
  }
  .make-comment {
    padding: 15px;
    background-color: #e8e8e8;
    .make-comment-title {
      text-transform: uppercase;
      text-align: center;
      @include rubik(20px, $textColor, bolder);
    }
    input {
      background: url('/images/required-input.png') 99% 10% no-repeat, white;
      width: 70%;
      border: 1px solid #bdbdbd;
      height: 35px;
      display: block;
      margin: 10px;
      padding: 5px 10px;
      @include rubik(16px, $textColor);
      &:focus {
        outline: none;
        border: 1px solid $blue;
      }
      &::placeholder {
        @include rubik(14px, #bdbdbd);
      }
    }
    textarea {
      background: url('/images/required-input.png') 99% 5% no-repeat, white;
      width: 100%;
      margin: 10px;
      resize: none;
      padding: 10px;
      @include rubik(16px, $textColor);
      &:focus {
        outline: none;
        border: 1px solid $blue;
      }
      &::placeholder {
        @include rubik(14px, #bdbdbd);
      }
    }
    button {
      display: inherit;
      margin: 0 auto;
      outline: none;
      border: 1px solid $blue;
      @include rubik(16px, $blue);
      text-transform: uppercase;
      padding: 10px 15px;
      background-color: white;
      @include transition(all, .7);
      &:hover {
        background-color: $blue;
        color: white;
        @include transition(all, .4);
      }
    }
    .rating {
      @include rubik(16px, $textColor);
      vertical-align: middle;
      line-height: 65px;
      .rating-stars {
        float: right;
        .rating-text {
          display: inline-block;
          min-width: 110px;
        }
        i {
          cursor: pointer;
          color: $orange;
        }
        .good {
          color: forestgreen;
        }
        .normal {
          color: yellow;
        }
        .bad {
          color: orangered;
        }
      }
    }
  }
}

.soput-wrapper {
  background: white;
  padding: 10px 0;
  margin-bottom: 40px;
  text-align: right;

  .soput-title {
    text-align: center;
    p {
      @include rubik(30px, $textColor, bolder);
      text-transform: uppercase;
      display: inline-block;
      position: relative;
      padding-bottom: 20px;
      &:before {
        content: '';
        position: absolute;
        width: 20%;
        bottom: 10px;
        left: 50%;
        margin-left: -10%;
        height: 4px;
        background: $orange;
      }
    }
  }

  .slider-wrapper {
    margin: 20px -15px;
  }

  .slick-next, .slick-prev {
    display: inline-block;
    font-size: 26px;
    width: 30px;
    height: 30px;
    padding-top: 0;
    text-align: center;
    color: $blue;
    background: white;
    border: 1px solid $blue;
    cursor: pointer;
    @include transition(all, .4);
    &:hover {
      background: $blue;
      color: white;
      @include transition(all, .4);
    }
  }

  .item-wrapper {
    text-align: center;
    background-color: white;
    font-size: 0;
    margin: 0 auto;
    width: 263px;
    box-sizing: border-box;
    height: 420px;
    border: 1px solid #d4d4d4;
    margin-bottom: 20px;
    overflow: hidden;
    @include transition(all, .6);
    position: relative;
    .item-discount {
      position: absolute;
      z-index: 5;
      left: 0;
      top: 5%;
      @include rubik(18px, white);
      padding: 5px 20px;
    }
    &:hover {
      -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.46);
      -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.46);
      box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.46);
      @include transition(all, .4);
    }
    .item-image {
      //margin: 0 -10px;
      //height: 175px;
      //line-height: 175px;
      line-height: 200px;
      height: 220px;
      img {
        display: inline-block;
        //width: 100%;
        height: auto;
      }
    }
    .item-name {
      margin: 0 10px;
      min-height: 80px;
      a {
        text-decoration: none;
        p {
          word-break: break-all;
          text-align: left;
          font-family: $rubik;
          font-size: 16px;
          color: #222325;
          @include transition(all, .5);
          &:hover {
            color: $blue;
            cursor: pointer;
            @include transition(all, .5);
          }
        }
      }
    }
    .item-code {
      padding-left: 10px;
      display: inline-block;
      width: 50%;
      height: 35px;
      p {
        font-weight: bolder;
        font-family: $rubik;
        font-size: 16px;
        text-align: left;
        color: $blue;
        span {
          font-size: 18px;
          color: #222325;
        }
      }
    }
    .item-custom-order {
      padding-right: 10px;
      display: inline-block;
      width: 50%;
      font-weight: bolder;
      font-family: $rubik;
      font-size: 14px;
      text-align: right;
      color: $blue;
    }
    .by-now {
      display: inline-block;
      width: 50%;
      padding-right: 10px;
      vertical-align: top;
      .disabled {
        color: white;
        border-color: $blue;
        background-color: $blue;
      }
      button {
        @include transition(all, .8);
        width: 100%;
        height: 35px;
        display: block;
        outline: none;
        font-family: $rubik;
        font-size: 14px;
        border: 1px solid $blue;
        background-color: white;
        text-transform: uppercase;
        color: $blue;
        &:hover {
          @include transition(all, .4);
          background-color: $blue;
          color: white;
        }
      }
      .button-in-cart {
        background: $blue;
        color: white;
      }
    }
    .price {
      padding-left: 10px;
      display: inline-block;
      vertical-align: top;
      width: 50%;
      min-height: 60px;
      text-align: left;
      color: #222325;
      font-size: 14px;
      line-height: 17px;
      p {
        @include rubik(14px, $textColor);
      }
      .old-price {
        font-size: 14px;
        font-weight: bolder;
        text-decoration: line-through;
        text-decoration-color: $orange;
      }
      .current-price {
        font-size: 18px;
        font-weight: bolder;
        //@include rubik(18px, $textColor, bolder);
        span {
          color: $orange;
        }
      }
    }
    .item-feedback {
      padding: 0 10px;
      border-top: 1px solid #d4d4d4;
      .item-stars {
        display: inline-block;
        vertical-align: top;
        width: 50%;
        font-size: 18px;
        i {
          color: $orange;
        }
        text-align: left;
      }
      .item-comments {
        display: inline-block;
        width: 50%;
        vertical-align: top;
        a {
          p {
            text-align: right;
            color: #222325;
            font-family: $rubik;
            font-size: 14px;
            &:hover {
              color: $blue;
            }
          }
        }
      }
    }
    //  end-item-wrapper
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .item-wrapper {
      width: 95%;
      .item-image {
        img {
          width: 100%;
        }
      }
      .item-feedback {
        .item-stars {
          font-size: 16px;
        }
      }
    }
  }
  @media (max-width: 767px) {

  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .product-rightSide {
    padding-left: 15px;
  }
  .product-colors, .product-sizes {
    display: inline-block;
    vertical-align: middle;
  }
  .product-sizes {
    padding: 0 15px;
  }
  .answer {
    margin: 0;
  }
  #feed {
    .make-comment {
      .rating {
        line-height: 15px;
      }
    }
  }
}

@media (max-width: 767px) {
  .product-nav {
    .bottom {
      .left {
        p {
          .old-price {
            display: block;
          }
        }
      }
      padding: 0;
      .right {
        button {
          padding: 10px;
        }
      }
    }
  }
  .product-rightSide {
    padding: 0 15px;
  }
  .tab-panel {
    .header {
      padding-top: 0;
      height: auto;
      ul {
        height: auto;
        li {
          text-align: center;
          display: block;
          padding: 7px 10px;

        }
      }
    }
  }
  .soput-wrapper {
    .soput-title {
      p {
        font-size: 20px;
      }
    }
  }
  #feed {
    .make-comment {
      padding: 10px 0;
      input, textarea {
        width: 100%;
        margin: 10px 0;
      }
      textarea {
        height: 150px;
      }
      .rating {
        line-height: 15px;
      }
    }
  }
}
