$orange: #ff6501;
$blue: #0c6eb5;
$blueD: #0c588f;
$rubik: 'Rubik', sans-serif;
$textColor: #222325;
@mixin transition($obj, $duration) {
  -webkit-transition: $obj $duration + s;
  -webkit-transition: $obj $duration+s;
  transition: $obj $duration+s;
}

@mixin transform($string) {
  -webkit-transform: $string;
  transform: $string;
}

@mixin rubik($size, $color, $weight:normal) {
  font-family: $rubik;
  font-size: $size;
  color: $color;
  font-weight: $weight;
}

.title{
  text-align: center;
  padding: 15px 0;
  @include rubik(20px, $textColor, bolder);
}

.item-wrapper {
  text-align: center;
  background-color: white;
  font-size: 0;
  margin: 0 auto;
  width: 263px;
  box-sizing: border-box;
  height: 420px;
  border: 1px solid #d4d4d4;
  margin-bottom: 20px;
  overflow: hidden;
  @include transition(all, .6);
  position: relative;
  .item-discount {
    position: absolute;
    z-index: 5;
    left: 0;
    top: 5%;
    @include rubik(18px, white);
    padding: 5px 20px;
  }
  &:hover {
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.46);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.46);
    @include transition(all, .4);
  }
  .item-image {
    //margin: 0 -10px;
    //height: 175px;
    //line-height: 175px;
    line-height: 200px;
    height: 220px;
    img {
      display: inline-block;
      //width: 100%;
      height: auto;
    }
  }
  .item-name {
    margin: 0 10px;
    min-height: 80px;
    a {
      text-decoration: none;
      p {
        word-break: break-all;
        text-align: left;
        font-family: $rubik;
        font-size: 16px;
        color: #222325;
        @include transition(all, .5);
        &:hover {
          color: $blue;
          cursor: pointer;
          @include transition(all, .5);
        }
      }
    }
  }
  .item-code {
    padding-left: 10px;
    display: inline-block;
    width: 50%;
    height: 35px;
    p {
      font-weight: bolder;
      font-family: $rubik;
      font-size: 16px;
      text-align: left;
      color: $blue;
      span {
        font-size: 18px;
        color: #222325;
      }
    }
  }
  .item-custom-order {
    padding-right: 10px;
    display: inline-block;
    width: 50%;
    font-weight: bolder;
    font-family: $rubik;
    font-size: 14px;
    text-align: right;
    color: $blue;
  }
  .by-now {
    display: inline-block;
    width: 50%;
    padding-right: 10px;
    vertical-align: top;
    .disabled {
      color: white;
      border-color: $blue;
      background-color: $blue;
    }
    button {
      @include transition(all, .8);
      width: 100%;
      height: 35px;
      display: block;
      outline: none;
      font-family: $rubik;
      font-size: 14px;
      border: 1px solid $blue;
      background-color: white;
      text-transform: uppercase;
      color: $blue;
      &:hover {
        @include transition(all, .4);
        background-color: $blue;
        color: white;
      }
    }
    .button-in-cart {
      background: $blue;
      color: white;
    }
  }
  .price {
    padding-left: 10px;
    display: inline-block;
    vertical-align: top;
    width: 50%;
    min-height: 60px;
    text-align: left;
    color: #222325;
    font-size: 14px;
    line-height: 17px;
    p {
      @include rubik(14px, $textColor);
    }
    .old-price {
      font-size: 14px;
      font-weight: bolder;
      text-decoration: line-through;
      text-decoration-color: $orange;
    }
    .current-price {
      font-size: 18px;
      font-weight: bolder;
      //@include rubik(18px, $textColor, bolder);
      span {
        color: $orange;
      }
    }
  }
  .item-feedback {
    padding: 0 10px;
    border-top: 1px solid #d4d4d4;
    .item-stars {
      display: inline-block;
      vertical-align: top;
      width: 50%;
      font-size: 18px;
      i {
        color: $orange;
      }
      text-align: left;
    }
    .item-comments {
      display: inline-block;
      width: 50%;
      vertical-align: top;
      a {
        p {
          text-align: right;
          color: #222325;
          font-family: $rubik;
          font-size: 14px;
          &:hover {
            color: $blue;
          }
        }
      }
    }
  }
  //  end-item-wrapper
}
@media (min-width: 992px) and (max-width: 1199px) {
  .item-wrapper {
    width: 95%;
    .item-image {
      img {
        width: 100%;
      }
    }
    .item-feedback {
      .item-stars {
        font-size: 16px;
      }
    }
  }
}
@media (max-width: 767px) {

}