$orange: #ff6501;
$blue: #0c6eb5;
$blueD: #0c588f;
$rubik: 'Rubik', sans-serif;
$textColor: #222325;
@mixin transition($obj, $duration) {
  -webkit-transition: $obj $duration + s;
  -webkit-transition: $obj $duration+s;
  transition: $obj $duration+s;
}

@mixin transform($string) {
  -webkit-transform: $string;
  transform: $string;
}

@mixin rubik($size, $color, $weight:normal) {
  font-family: $rubik;
  font-size: $size;
  color: $color;
  font-weight: $weight;
}

.content {
  padding: 10px;
}

.new_title {
  p {
    text-align: center;
    padding: 15px 0;
    @include rubik(20px, $textColor, bolder);
  }
}

.new_image {
  text-align: center;
  img {
    max-width: 100%;
    //display: inline-block;
  }
}

.new_body {
  word-break: break-word;
  padding: 15px 10px 25px 10px;
  font-family: $rubik !important;
  img {
    max-width: 100% !important;
    height: auto !important;
  }
}