@import "variables";

a {
  .subcategorie-wrapper {
    overflow: hidden;
    padding: 5px;
    background-color: white;
    margin: 15px 0;
    border: 1px solid $blue;
    @include transition(all, .4);
    p {
      vertical-align: middle;
      text-align: center;
      display: inline-block;
      width: 70%;
      @include rubik(20px, $textColor);
      @include transition(all, .7);
    }
    &:hover > p {
      @include transform(scale(1.2));
      @include transition(all, .4);
      color: $blue;
    }
  }
}
