$orange: #ff6501;
$blue: #0c6eb5;
$blueD: #0c588f;
$rubik: 'Rubik', sans-serif;
$textColor: #222325;

@mixin transition($obj, $duration) {
  -webkit-transition: $obj $duration + s;
  -webkit-transition: $obj $duration+s;
  transition: $obj $duration+s;
}

@mixin transform($string) {
  -webkit-transform: $string;
  transform: $string;
}

@mixin rubik($size, $color, $weight:normal) {
  font-family: $rubik;
  font-size: $size;
  color: $color;
  font-weight: $weight;
}